@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;900&display=swap");

* {
  font-family: "Barlow", sans-serif;
}

.w-goback {
  width: 24px;
  height: 24px;
}

.offcanvas {
  --bs-offcanvas-width: 90%;
}

.offcanvas-body {
  background-color: #29166f;
}

.accordion-button:not(.collapsed) {
  background: transparent !important;
}

.accordion-button:focus {
  color: #e87b0d !important;
}

.accordion-item {
  color: white;
  background-color: none;
  border: none;
}

.accordion-button::after {
  background-size: 10px;
}

.accordion-button {
  padding: 8px 5px !important;
}

.accordion {
  --bs-accordion-bg: none;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ffcd9c;
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #29166f;
  border-radius: 4px;
  /* height: 5px; */
}

::-webkit-scrollbar-thumb:hover {
  background: #e87b0d;
}

.text-orange {
  color: #f7bd01;
}

.arin_header {
  background-color: white;
  -webkit-box-shadow: 0 8px 6px -6px #00000045;
  -moz-box-shadow: 0 8px 6px -6px #00000045;
  box-shadow: 0 8px 6px -6px #00000045;
  width: 100%;
  top: 0px;
  position: sticky;
  z-index: 999;
}

.Arin_logo {
  width: 102px;
  height: 44px;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header_nav ul {
  list-style-type: none;
  gap: 27px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding: 0px;
 
}

.header_nav ul a {
  text-decoration: none;
}

.header_nav a span:first-child {
  color: #000;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  white-space: nowrap;
}

.header_list li a:hover span {
  color: #e87b0d;
  font-style: normal;
  /* transform: scale(1.001); */
  font-weight: 500;
  transition: 0.3s all ease-in-out;
}

.header_list li a:hover i {
  color: #e87b0d;
  transition: 0.3s all ease-in-out;
}

.arin_header button {
  position: relative;
  border-radius: 6px;
  background: #29166f;
  display: inline-flex;
  padding: 10px 30px;
  border: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  color: #fff;
  z-index: 1;
}

.arin_header button::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(86deg, #e87b0d 0%, #f7bd01 99.48%);
  transition: transform 0.3s ease;
  transform: translateY(0);
  z-index: -1;
}

.arin_header button:hover::before {
  transform: translateY(-100%);
}

.arin_header button span {
  line-height: 18px;
  font-weight: 500;
  color: white;
}

.header_nav i {
  color: #000;
  font-size: 12px;
}

.py-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.bg-banner {
  background-image: url(assets/ArinBanner.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 530px;
}

.arin_banner {
  width: 100%;
}

.arin_banner p:first-child {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.arin_banner h3 {
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 35.8px;
  margin-bottom: 19px;
}

.banner_text {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 51.8px;
}

.arin_banner button {
  border-radius: 6px;
  border: none;
  background: linear-gradient(86deg, #e87b0d 0%, #f7bd01 99.48%);
  display: flex;
  width: 141px;
  height: 40px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.arin_banner button span {
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.arin_features {
  padding: 36px 0px 69px;
  width: 100%;
}

.arin_banner > div > div > div {
  padding: 100px 0px;
}

.arin_features h1 {
  color: #2734a8;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.arin_features h3 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29.8px;
}

.gap-21 {
  gap: 21px;
}

.gap-24 {
  gap: 24px;
}

.arin_features p {
  color: #666;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.6px;
}

.arin_features button {
  position: relative;
  border-radius: 6px;
  width: 141px;
  background: #29166f;
  display: inline-flex;
  padding: 10px 30px;
  border: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  color: #fff;
  z-index: 1;
  white-space: nowrap;
}

.arin_features button::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(86deg, #e87b0d 0%, #f7bd01 99.48%);
  transition: transform 0.3s ease;
  transform: translateY(0);
  z-index: -1;
  overflow: hidden;
}

.arin_features button:hover::before {
  transform: translateY(-100%);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 285px !important;
  margin-right: 18px !important;
}

.slider_image_card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.slider_image_card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    #29166f 0.2%,
    rgba(217, 217, 217, 0) 99.75%
  );
  z-index: 1;
}

.w-25 .swiper-button-next,
.w-25 .swiper-button-prev {
  z-index: 10;
}

.swiper-container {
  padding-right: 100px;
}

.owl-carousel .owl-nav {
  position: absolute;
  right: -107px;
  bottom: 35px;
}

/* .owl-carousel .owl-nav button.owl-next, */
.owl-carousel .owl-nav button.owl-prev {
  background: #29166f url(assets/left-arrow.png) no-repeat center !important;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  padding: 20px !important;
  position: absolute;
  bottom: 62px;
  left: -60px;
}

.owl-carousel .owl-nav button span {
  display: none;
}

.owl-carousel .owl-nav button span {
  display: none;
}

.owl-carousel .owl-nav button.owl-next.disabled {
  background: white url(assets/next-grey.png) no-repeat center !important;
  border: 1px solid #d9d9d9;
}

.owl-carousel .owl-nav button.owl-prev.disabled {
  background: white url(assets/left-grey.png) no-repeat center !important;
  border: 1px solid #d9d9d9;
}

.owl-carousel .owl-nav button.owl-next {
  background: #29166f url(assets/next.png) no-repeat center !important;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  padding: 20px !important;
  position: absolute;
  bottom: -11px;
  left: -60px;
}

.arin_aboutUs {
  width: 100%;
  margin-top: 15px;
}

.bg_aboutUs {
  background-image: url(assets/about_us.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 630px;
}

.mt-19 {
  margin-top: 19px;
}

.gap-40 {
  gap: 40px;
}

.about_section h1 {
  color: #2734a8;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 14px;
}

.about_section h2 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 33.8px;
  margin-bottom: 17px;
}

.about_section p {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.6px;
  margin-bottom: 17px;
}

.card_view {
  gap: 20px;
}

.card_view > div {
  gap: 20px;
}

.about_section div.card_view > div {
  /* width: 50%; */
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  padding: 10px 8px;
  max-height: 92px;
  height: 91px;
}

.mb-13 {
  margin-bottom: 13px;
}

.card_image {
  width: 42px;
  height: 42px;
}

.w-10 {
  width: 10%;
}

.card_view h3 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 0px;
}

.gap-12 {
  gap: 12px;
}

.card_view p {
  color: #666;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.arin_aboutUs button {
  white-space: nowrap;
  position: relative;
  border-radius: 6px;
  background: #29166f;
  display: inline-flex;
  padding: 10px 30px;
  border: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  color: #fff;
  z-index: 1;
}

.arin_aboutUs button::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  background: linear-gradient(86deg, #e87b0d 0%, #f7bd01 99.48%);
  transition: transform 0.3s ease;
  transform: translateY(0);
  z-index: -1;
}

.arin_aboutUs button:hover::before {
  transform: translateY(-100%);
}

#parallelogram {
  width: 185px;
  height: 90px;
  background: #29166f;
  /* Skew */
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  transform: skew(37deg);
  margin-bottom: -30px;
  padding: 8px 10px;
}

.arrow_image_pos1 {
  width: 87.083px;
  height: 124.5px;
}

.arrow_image_pos2 {
  width: 87.083px;
  height: 125.5px;
}

.yellow_pos {
  top: 50%;
  right: -40%;
}

.blue_pos {
  top: 50%;
  right: -60%;
}

.mt-90 {
  margin-top: 90px;
}

.dealingNumber {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 43.8px; */
  /* transform: skew(-37deg); */
  margin-bottom: 3px;
  text-align: center;
}

.dealingText {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 26.6px; */
  /* transform: skew(-37deg); */
  text-align: center;
}

.arin_journey {
  width: 100%;
  margin-top: 38px;
}

.journey_wrapper {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
}

.journey_wrapper > h2 {
  color: #2734a8;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 11px;
  text-align: center;
}

.journey_wrapper > p {
  color: #000;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 131.4%;
}

.banzee {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.journeyCard_wrapper {
  display: flex;
  flex-wrap: nowrap;
  /* flex-grow: row nowrap; */
  flex-direction: row;
  justify-content: center;
  gap: 54px;
  align-items: center;
  width: 100%;
  margin-top: 63px;
}

/* .journeyCard_wrapper>div {
    border-radius: 10px;
    background: #29166F;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 200px;
    padding: 12px;

} */

.hexagon + h4 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 0px;
}

.client_card > p {
  color: #fff;
  /* text-align: center; */

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 17.6px;
  margin-bottom: 0;
  margin-top: 14px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.bg-grey {
  background: #ededef;
}

.arin_wrap {
  padding-top: 190px;
  padding-bottom: 210px;
}

.connect_header > h3 {
  color: #2734a8;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.connect_header > h4 {
  color: #000;

  text-align: center;
  font-family: Barlow;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}

.connect_header > p {
  color: #666;
  text-align: center;
  width: 75%;
  margin: auto;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.6px;
}

.gap-custom {
  gap: 90px;
}

.activities_card {
  width: 100%;
  height: 186px;
}

.gap-18 {
  gap: 18px;
}

.activities_card + div {
  padding: 26px 0px;
  /* border-radius: 10px; */
}

.organize_left {
  width: 50%;
  margin-top: 36px;
}

.organize_left h6 {
  color: #29166f;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}

.organize_left h5 {
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.8px;
  margin-bottom: 28px;
}

.organize_left p {
  color: #666;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.8px;
  margin-bottom: 15px;
}

.bg-springs {
  background-image: url(assets/Vector.png);
  /* background-position: 77%; */
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 629.777px;
  position: relative;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.box {
  /* position: absolute; */
  width: 285px;
  height: 192px;
  border-radius: 10px;
}

.mt-60 {
  margin-top: 54px;
}

.center_div {
  top: 33%;
  left: 35%;
  bottom: 0px;
  right: 0px;
  width: 184px;
  height: 154px;
  border-radius: 10px;
  background: #fff;
}

.center_div p {
  color: #e7670f;
  margin-bottom: 0px;
  text-align: center;
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.gap-86 {
  gap: 86px;
}

.gap-102 {
  gap: 102px;
}

.mt-31 {
  margin-top: 31.2px;
}

.organizing_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 27px;
  margin: 0;
  padding: 0;
}

.organizing_list li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
}

.organizing_list > li > span:nth-child(2) {
  color: #000;
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.8px;
}

.organizing_list > li > span:first-child i {
  font-size: 24px;
  color: #29166f;
}

button > span {
  font-size: 16px !important;
  font-weight: 500px !important;
  white-space: nowrap !important;
}

.start_btn {
  white-space: nowrap;
  position: relative;
  border-radius: 6px;
  background: #29166f;
  display: inline-flex;
  padding: 10px 30px;
  border: none;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  color: #fff;
  z-index: 1;
}

.start_btn::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(86deg, #e87b0d 0%, #f7bd01 99.48%);
  transition: transform 0.3s ease;
  transform: translateY(0);
  z-index: -1;
}

.start_btn:hover::before {
  transform: translateY(-100%);
}

.bg-machine {
  position: relative;

  /* overflow: hidden; */
}

.arin_corpo > h4 {
  color: #f6b701;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 21px;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.arin_corpo > p {
  color: #fff;
  margin-bottom: 49px;
  text-align: center;
  font-family: Barlow;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 147.6%;
}

.overlay_card {
  padding: 25px 48px !important;
  border-radius: 10px;
}

.card_craousal {
  width: 100%;
  height: 242px;
  overflow: hidden;
  z-index: 2;
}

.video_list_card {
  position: relative;
  margin-top: 20px;
}

.video_list_card > span {
  position: absolute;
  font-size: 48px;
  color: #c7c7c7;
  top: -15%;
  left: -2%;
  z-index: 0;
}

.overlay_card {
  margin-top: -239px;
}

.overlay_card h1 {
  color: #2734a8;
  margin-bottom: 10px;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.overlay_card h2 {
  color: #000;
  margin-bottom: 30px;
  font-family: Barlow;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 54.5px; */
}

.play_btn {
  left: 40%;
  top: 36%;
}

.play_btn > i {
  font-size: 60px;
  color: white;
}

.card_exp_btn {
  white-space: nowrap;
  position: relative;
  border-radius: 6px;
  background: #29166f;
  display: inline-flex;
  padding: 10px 30px;
  border: none;
  width: 141px;
  margin: auto;
  margin-top: 38px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  color: #fff;
  z-index: 1;
}

.card_exp_btn::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(86deg, #e87b0d 0%, #f7bd01 99.48%);
  transition: transform 0.3s ease;
  transform: translateY(0);
  z-index: -1;
}

.card_exp_btn:hover::before {
  transform: translateY(-100%);
}

.arin_brand_wrap {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  gap: 54px;
  align-items: center;
  width: 100%;
  margin-top: 63px;
}

.arin_brand_wrap > div {
  border-radius: 10px;
  background: #55458e;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 175px;
  padding: 12px;
}

.blog_wrapp {
  width: 100%;
}

.blog_wrapp > h3 {
  text-align: center;
  color: #2734a8;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* margin-top: 69px; */
  margin-bottom: 14px;
}

.blog_wrapp > h6 {
  color: #000;
  text-align: center;
  font-family: Barlow;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.blog_card_Sec {
  margin-top: 40px;
}

.blog_card_Sec > div {
  overflow: hidden;
  border-radius: 10px;
}

.gap-20 {
  gap: 20px;
}

.blog_card {
  height: 242px;
  width: 100%;
}

.blog_bom_sec {
  padding: 23px 21px;
}

.blog_text > h1 {
  color: #000;
  text-align: center;
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.blog_text > p {
  color: #000;

  font-family: Barlow;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.blog_explore_btn {
  white-space: nowrap;
  position: relative;
  border-radius: 6px;
  background: #29166f;
  display: inline-flex;
  padding: 10px 30px;
  border: none;
  width: 141px;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  color: #fff;
  z-index: 1;
  margin-top: 15px;
  margin-bottom: 15px;
}

.blog_explore_btn::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(86deg, #e87b0d 0%, #f7bd01 99.48%);
  transition: transform 0.3s ease;
  transform: translateY(0);
  z-index: -1;
}

.blog_explore_btn:hover::before {
  transform: translateY(-100%);
}

.blog_Message_btn {
  white-space: nowrap;
  position: relative;
  border-radius: 6px;
  background: #29166f;
  display: inline-flex;
  padding: 10px 30px;
  border: none;
  width: 141px;
  margin: auto;
  margin-top: 38px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  color: #fff;
  z-index: 1;
}

.blog_Message_btn::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(86deg, #e87b0d 0%, #f7bd01 99.48%);
  transition: transform 0.3s ease;
  transform: translateY(0);
  z-index: -1;
}

.blog_Message_btn:hover::before {
  transform: translateY(-100%);
}

.blog_explore_btn,
.blog_Message_btn > span {
  color: #fff;
  white-space: nowrap;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.company_card {
  background: #55458e;
  /* height: 114px; */
  padding: 40px 0px;
  display: flex;
  flex-direction: row;
  /* margin-bottom: 79px; */
  justify-content: space-between;
  align-items: center;
}

.company_list {
  display: flex;
  flex-direction: row;
  gap: 83px;
  justify-content: space-between;
  align-items: center;
}

.company_list > div {
  display: flex;
  flex-direction: row;
  gap: 12.34px;
  align-items: center;
  justify-content: flex-start;
}

.company_list > div > div {
  /* width: 47.641px;
    height: 44.925px; */
}

.company_list > div > h3 {
  color: #fff;
  text-align: center;
  font-family: Barlow;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.6px;
}

.bg-footer {
  background: linear-gradient(0deg, rgba(2, 8, 62, 0.91), rgba(2, 8, 62, 0.91)),
    url(assets/footer.png);
  background-size: cover;
  /* padding-bottom: 100px; */
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 60px;
  padding-bottom: 41.05px;
}

.footer_first {
  gap: 33.06px;
}

.footer_first > div:first-child {
  width: 120px;
  height: 119.945px;
}

.footer_first > h4 {
  color: #fff;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}

.footer_links {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  gap: 9px;
  list-style-type: none;
}

.footer_sec,
.footer_third,
.footer_fourth {
  gap: 16px;
}

.footer_sec > h4 {
  color: #fff;
  font-family: Barlow;
  font-size: 24px;
  font-style: normal;
  margin-bottom: 0;
  font-weight: 500;
  line-height: normal;
}

.footer_third > h4 {
  color: #fff;
  font-family: Barlow;
  font-size: 24px;

  font-style: normal;
  margin-bottom: 0;
  font-weight: 500;
  line-height: normal;
}

.footer_links li > a {
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gap-75 {
  gap: 75px;
}

.footer_fourth > h4 {
  color: #fff;
  font-family: Barlow;
  font-size: 24px;
  font-style: normal;
  margin-bottom: 0;
  font-weight: 500;
  line-height: normal;
}

.footer_fourth > div {
  gap: 8px;
}

.font_social > i {
  font-size: 20px;
}

.gap-10 {
  gap: 10px;
}

.footer_btn {
  margin-top: 41px;
}

.footer_btn p {
  color: #fff;
  margin-bottom: 0px;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.activities_btn {
  white-space: nowrap;
  position: relative;
  border-radius: 6px;
  background: #29166f;
  display: inline-flex;
  padding: 10px 30px;
  border: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  color: #fff;
  z-index: 1;
  margin: 16px 0px;
}

.activities_btn::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(86deg, #e87b0d 0%, #f7bd01 99.48%);
  transition: transform 0.3s ease;
  transform: translateY(0);
  z-index: -1;
}

.activities_btn:hover::before {
  transform: translateY(-100%);
}

/* about us */

/* --first--banner-- */
.arin_aboutUs {
  margin-top: 0px !important;
}

.aboutUs_banner_image {
  background-image: url(assets/aboutUs/Rectangle\ 134.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 401px;
}

.aboutUs_banner_text {
  padding-top: 95px;
}

.aboutUs_banner_text p {
  color: #2734a8;
  font-family: Barlow;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 27px;
}

.aboutUs_banner_text h1 {
  width: 35%;
  color: #000;
  font-family: Barlow;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 46.3px;
}

/* --second--banner-- */
.aboutUs_banner_2_backgroundImage {
  background-image: url(./assets/aboutUs/NEET-UG.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutUs_banner_2_content {
  display: flex;
  justify-content: center;
  padding-top: 89px;
  padding-bottom: 53px;
}

.aboutUs_banner_2_pcImage_container {
  width: 49.9%;
}

.aboutUs_banner_2_pcImage {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
}

.aboutUs_banner_2_textField {
  width: 49.9%;
}

.aboutUs_banner_2_textField p:first-child {
  color: #f7bd01;
  font-family: Barlow;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 2rem;
}

.aboutUs_banner_2_textField p:nth-child(2) {
  color: #fff;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.8px;
}

.aboutUs_banner_2_textField p:nth-child(3) {
  color: #fff;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.8px;
}

/* --facilites--box-- */
.aboutUs_facilities {
  background: #ededef;
}

.aboutUs_facilities_textField {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutUs_facilities_textField p:first-child {
  color: #000;
  font-family: Barlow;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 38.3px;
}

.aboutUs_facilities_textField p:nth-child(2) {
  color: #000;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.6px;
}

.aboutUs_facilities_contentBoxes {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-bottom: 73px;
}

.contentBox_container {
  display: flex;
  justify-content: center;
  gap: 19px;
}

.contentBox {
  display: flex;
  gap: 30px;
  width: 32.5%;
  height: 150px;
  border-radius: 5px;
  flex-shrink: 0;
  padding: 18px 9px 32px 13px;
}

.contentBox_1 {
  border: 1px solid #f7bd01;
  background: #931734;
}

.contentBox_2 {
  border: 1px solid #f7bd01;
  background: #4a4baa;
}

.contentBox_3 {
  border: 1px solid #f7bd01;
  background: #6f1e51;
}

.contentBox_4 {
  border: 1px solid #f7bd01;
  background: #2c3e50;
}

.contentBox_5 {
  border: 1px solid #f7bd01;
  background: #079c7e;
}

.contentBox_6 {
  border: 1px solid #f7bd01;
  background: #0786dc;
}

.contentBox_7 {
  border: 1px solid #f7bd01;
  background: #006266;
}

.contentBox_8 {
  border: 1px solid #f7bd01;
  background: #b33771;
}

.contentBox_9 {
  border: 1px solid #f7bd01;
  background: #1717bb;
}

.content_box_image {
  width: 42px;
  height: 42px;
}

.contentBox_text p:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  color: #f7bd01;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.contentBox_text p:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  color: #fff;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

/* --third--banner-- */
.aboutUs_banner_3 {
  padding-top: 69px;
  padding-bottom: 64px;
}

.aboutUs_banner_3_backgroundImage {
  background-image: url(./assets/aboutUs/NEET-UG1.webp);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 498.869px;
}

.aboutUs_banner_3_text {
  padding-top: 60px;
}

.aboutUs_banner_3_text p:nth-child(2) {
  color: #000;
  font-family: Barlow;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.aboutUs_banner_3_text p:nth-child(3) {
  color: #666;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.8px;
}

/* --like--banner-- */
.aboutUs_like {
  background: #ededef;
}

.aboutUs_like_container {
  padding-top: 77px;
  padding-bottom: 48px;
  display: flex;
  gap: 89px;
  justify-content: space-around;
}

.like_image_container {
  display: flex;
  justify-content: center;
}

.like_image {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  height: 70px;
  margin-bottom: 41px;
}

.obj-f-c {
  object-fit: contain;
}

.aboutUs_like_contain span {
  display: flex;
  justify-content: center;
}

.aboutUs_like_contain p {
  display: flex;
  width: 100%;
  height: 24px;
  flex-direction: column;
  justify-content: center;

  color: #e87b0d;
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

/* --about--founder-- */
.arin_policy {
  width: 100%;
}

.arin_policy > div > div h3 {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}

.arin_policy > div > div p {
  color: #666;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.8px;
}

.arin_list_img {
  padding: 0;
  margin: 0;
}

.arin_list_img li {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: start;
}

.list_image {
  width: 20px;
  height: 20px;
  min-width: 20px;
}

.list_image + p {
  margin-bottom: 17px;
  line-height: 27px !important;
}

.ceo_btn {
  border-radius: 4px;
  padding: 10px 32px;
  margin: 15px auto;
  width: 68%;
  background: linear-gradient(82deg, #e87b0d 4.26%, #f7bd01 105.53%);
}

.ceo_btn > h2 {
  color: #000;
  margin-bottom: 5px;
  margin-top: 0px;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  line-height: normal;
}

.ceo_btn > p {
  color: #fff;
  margin-bottom: 0;
  text-align: center;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* --Features-- */
.bg__founder {
  background-image: url(./assets/features-1.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
}

.features-banner-text > h4 {
  color: #fec434;

  font-family: Barlow;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.features-banner-text > p {
  color: #fff;
  width: 40%;
  font-family: Barlow;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 145.8%;
}

.select__list {
  margin-top: -14px;
  margin-bottom: 40px;
}

.select__list_filter {
  display: flex;
  align-items: center;
}

.select_items {
  gap: 34px;
}

.select__list label {
  color: #000;
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-wrap: nowrap;
}

.select__list select {
  width: 220px;
  height: 51px;
  border-radius: 6px;
  border: 1px solid #787878;
  text-align: center;

  background: #fff;
}

.select__list_show > select {
  width: 80px;
}

.features__items {
  margin-top: 50px;
  margin-bottom: 100px;
  gap: 20px;
}

.accordion_main {
  position: sticky;
  top: 100px;
  height: fit-content;
  margin-bottom: 20px;
}

.filter__lable {
  color: #000;
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 56px;
}

.accordion-button {
  color: #000 !important;
  width: 260px;
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 13px 5px !important;
}

.accordion-button::after {
  background-size: 20px;
}

.accordion-button:not(.collapsed) {
  background: linear-gradient(77deg, #e87b0d 0%, #f7bd01 100%);
  border: none;
  border-width: -1px;
}

.accordion-button:focus {
  box-shadow: none;
  border: none;
}

.accordion-body {
  background: linear-gradient(77deg, #e87b0d 0%, #f7bd01 100%);
  margin-top: -1px;
  width: 260px;
}

.accordion-body label {
  color: #fff;
}

.key_chain_text {
  margin-bottom: 30px;
}

.key_chain_text h3 {
  color: #000;
  font-family: Barlow;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.key_chain_text p {
  color: #666;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.key_chain_banner {
  width: 32.2%;
  height: auto;
}

.key_chain_banner_priceBox {
  background-color: rgba(0, 0, 0, 0.5);
  height: 50px;
  margin-top: -50px;
  position: relative;
}

.key_chain_banner_priceBox p:first-child {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding-top: 2px;
  margin-bottom: 5px;
  margin-left: 15px;
}

.key_chain_banner_priceBox p:nth-child(2) {
  color: #fff;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 15px;
}

.hrefstyle {
  text-decoration: none;
}

.heading_photo {
  width: 36.06px;
  height: 41.64px;
}

.heading_text {
  color: #2734a8;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-decoration-line: underline;
}

.testimonial_arin {
  width: 100%;
  background: #ededef;
}

.video_thumbnail {
  height: 245px;
  width: 49%;
}

.video_icon {
  position: absolute;
  top: 45%;
  left: 45%;
}

.video_icon > i {
  font-size: 37px;
}

.BankingSectors {
  border-radius: 6px;
  background: linear-gradient(89deg, #e87b0d 0%, #f7bd01 100%);
  height: 46px;
  width: inherit;
  display: flex;
  border: 1px solid #e87b0d;
  justify-content: center;
  align-items: center;
}

.BankingSectors > span {
  color: #fff;

  font-family: Barlow;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.BankingSectors2 {
  border-radius: 6px;
  border: 1px solid #e87b0d;
  height: 46px;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_section {
  width: 23%;
}

.img_thumbnail_sec {
  width: 77%;
}

.pagination_blue {
  width: max-content;
  border-radius: 6px;
  height: 40px;
  min-width: 60px;
  /* padding: 14px 20px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: #29166f 1px solid;
}

.bg-darkblue {
  background-color: #29166f;
}

.gap-9 {
  gap: 10px;
}

.pag_text {
  color: #fff;

  font-family: Barlow;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.text_darkblue {
  color: #29166f;
}

/* --blog--page-- */
.bg_blog {
  background: #ededef;
}

.blog_container {
  width: 74%;
}

.blog {
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 25px;
  gap: 5px;
}

.blog_hadding h1 {
  color: #000;
  font-family: Barlow;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 133.8%;
}

.blogger_img {
  width: 40px;
  height: 40px;
}

.blog_background {
  height: 100%;
  width: 100%;
}

.date_text {
  color: #2734a8;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.date {
  color: #000;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.blog_text p {
  color: #666;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.8px;
  /* 211.25% */
}

.blog_button button {
  color: #2734a8;
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  border-width: 0px;
  background-color: transparent;
}

.side_banner {
  width: 24%;
  position: sticky;
  top: 100px;
  height: fit-content;
}

.recent_posts {
  border-radius: 3px;
  background: linear-gradient(42deg, #e87b0d 22.87%, #f7bd01 96%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 15px;
}

.recent_post_heading {
  padding-bottom: 10px;
}

.recent_post_heading h3 {
  color: #000;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.recent_post_text p {
  color: #fff;
  font-family: Barlow;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.8px;
}

.line {
  height: 1px;
  background: #fff;
}

.check_box_stl {
  width: 16px;
  height: 16px;
  accent-color: #29166f;
  margin-right: 6px;
}

.text_darkblue {
  color: #29166f;
}

.bg-lightgrey {
  background: #ededef;
}

.company_text {
  color: #000;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.8px;
}

.bg-jorny {
  background-color: #ededef;
}

.width_shied {
  width: 50px;
  height: 50px;
}

.left_bg_img {
  width: 307px;
  height: 128px;
  overflow: hidden;
}

.climb_text {
  color: #666;

  font-family: Barlow;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.3px;
}

.climb_head {
  color: #2734a8;

  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.climb_head_orange {
  color: #eb7e0b;

  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.position_card {
  top: 15px;
  left: 25px;
}

.position_card2 {
  top: 15px;
  right: 25px;
}

.border_horizontal {
  /* width: 2px; */
  height: 663px;

  /* border-left: 2px solid #29166F; */
}

.top_position_fixed {
  margin-left: -25px;
  margin-top: -13px;
}

.top_position_fixed::after {
  content: "";
  border-left: 2px solid #29166f;
  height: 112px;
  left: 0px;
  top: 31px;
  z-index: 1;
  position: absolute;
}

.top_position_fixed2 {
  position: absolute;
  left: -100%;
  margin-top: -41px;
}

.top_position_fixed2::after {
  content: "";
  border-left: 2px solid #29166f;
  height: 127px;
  left: 92.5%;
  top: 45px;
  z-index: 1;
  position: absolute;
}

.year_time {
  color: #000;

  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  /* */
  line-height: 20px;
}

.ml-lg {
  margin-left: -36px;
}

.ml-rg {
  margin-left: 56px;
}

.top_position_fixed3 {
  position: absolute;
  left: -8%;
  top: 46%;
}

.top_position_fixed3::after {
  content: "";
  border-left: 2px solid #29166f;
  height: 119px;
  left: 25px;
  top: 45px;
  z-index: 1;
  position: absolute;
}

.top_position_fixed4 {
  position: absolute;
  left: -100%;
  top: 70%;
}

.so_far_Text {
  color: #000;

  font-family: Barlow;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text_ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.bg_sign_up {
  background-image: url(./assets/sign_up.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 80px;
  width: 700px;
  border-radius: 4px;
}

.modal-dialog {
  max-width: 700px;
}

.sign_up_img {
  width: 78px;
  height: 78px;
}

.text_user_sign {
  color: #000;
  font-family: Barlow;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 29.8px;
}

.email_sign_in {
  border-radius: 6px;
  border: 1px solid #9a9797;
  padding: 10px 8px;
  height: 38.974px;
  width: 100%;
}

.sign_in_btn {
  border-radius: 6px;
  border: none;
  background: linear-gradient(86deg, #e87b0d 0%, #f7bd01 99.48%);
  display: flex;
  width: 141px;
  height: 40px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.sign_in_btn span {
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.account_text {
  color: #787878;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 162%;
}

.sign_up_text {
  color: #29166f;
  font-family: Barlow;
  text-decoration: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 162%;
}

.or_Text {
  color: #787878;

  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 162%;
}

.single_line {
  background: #9a9797;
  width: 40%;
  height: 1px;
}

.gap_9 {
  gap: 9px;
}

.gap_9 > div {
  width: 40px;
  height: 40px;
  min-height: 40px;
  max-width: 40px;
}

.text_above_image {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

#owl-carousel1 {
  margin: 0 auto;
  /* Center the carousel horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-carousel .owl-stage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_name_style {
  color: #000;

  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}

.connect_btn {
  position: fixed;
  bottom: 60px;
  right: 0;
  z-index: 20;
}

.contactusBtn {
  border: transparent;
  width: 144px;
  height: 114px;
  background-color: #ffffff00;
  animation: bounceAndScale 1s ease infinite;
  /* Adjust duration and timing function as needed */
}

@keyframes bounceAndScale {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-10px);
  }
}

.contactusBtn:hover {
  animation: none;
  /* Stop the animation on hover */
}

.dropdown:hover .dropdown-menu {
  display: block;
  overflow: hidden;
}

.dropdown-menu button {
  border-radius: 0;
  color: #666;
  background: transparent;
  justify-content: start;
}

.dropdown-menu button:hover {
  color: white;
}

.header_list li a span:active {
  color: #e87b0d;
}

.header_list li a:focus span {
  color: #e87b0d;
}

.accordion-button-1 {
  color: white !important;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.accordion-body-1 {
  background: transparent !important;
  width: 100%;
}

.accordion-body-1 a span {
  color: white;
}

.arin_offcanvas_header {
  width: 112%;
}

.offcanvas-body-1 {
  width: 112%;
}

.side_menu_sing_in_btn {
  display: flex;
  justify-content: center;
}

.sign_in_btn_1 a span {
  color: white;
  width: 185px !important;
}

.accordion-button-1:hover {
  color: #fec434 !important;
  font-style: normal;
  /* transform: scale(1.001); */
  font-weight: 500;
  transition: 0.3s all ease-in-out;
}

.accordion-button-1:not(.collapsed) {
  box-shadow: none;
}

.bg-lightBlue {
  background-color: #55458e !important;
}

.receipt_modal_content {
  background-image: url(assets/receipt-back.jpeg);
  /* background-size: cover; */
  background-position: center center;
  background-repeat: no-repeat;

  color: #fff;
  padding: 10px 20px;
}
.modal_header h1 {
  color: #fff;
  font-family: Barlow;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 35.8px; /* 149.167% */
}
.modal_header img {
  width: 6%;
}
.header_downline p {
  color: #fff;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.navbar {
  outline: 1px solid lightgrey;
}
