@media screen and (min-width: 0px) {
  #arin_header_btn {
    display: none;
  }

  .blog_background_img_4 {
    height: 400px !important;
  }

    .heading_container h3 {
      /* color: #000; */
      margin-bottom: 12px;
      font-size: 22px;
      font-weight: 600;
      text-align: left;
    }
  
    .heading_container p {
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 500;
      text-align: left;
    }
  
    .heading_container ul {
      padding-left: 0px;
  
      li {
        /* margin-left: 10px; */
        list-style-type: none;
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1.5px;
        margin-bottom: 8px;
        color: #212529;
      }
    }
  
    .heading_container ul li:first-child {
      font-size: 16px;
      font-weight: 500;
      padding-left: 0px;
      /* margin-left: -10px; */
    }

  .bg_sign_up {
    padding: 30px 15px;
    width: auto;
    max-width: 900px;
  }

  .sign_up_img {
    width: 58px;
    height: 58px;
  }

  .text_user_sign {
    font-size: 20px;
  }

  .account_text {
    font-size: 14px;
  }

  .sign_up_text {
    font-size: 14px;
  }

  .or_Text {
    font-size: 14px;
  }

  .ml-rg {
    margin-left: -31px;
  }

  .connect_btn {
    position: fixed;
    bottom: 24px;
    right: 0;
  }

  .text_above_image {
    padding: 10px 15px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.5);
    min-height: 76px;
  }

  .arin_slider_text {
    color: #000;
    font-family: Barlow;
    font-size: 12px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    line-height: 20px;
    /* 125% */
  }

  .arin_slider_btn_text {
    color: #fff;
    font-family: Barlow;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 125% */
  }

  .blog_text p {
    margin-bottom: 0px !important;
  }

  .slider_card_pos {
    top: 29%;
    left: 0px;
    right: 0px;
    z-index: 1;
    width: 85%;
    margin: auto;
  }

  .contactusBtn {
    border: transparent;
    width: 101px;
    height: 73px;
  }

  .left_bg_img {
    width: 233px;
    height: 157px;
    overflow: hidden;
  }

  .position_card {
    top: 8px;
    left: 12px;
  }

  .top_position_fixed2::after {
    content: "";
    border-left: 2px solid #29166f;
    height: 98px;
    left: 8.5%;
    top: 45px;
    z-index: 1;
    position: absolute;
  }

  .top_position_fixed2::after {
    content: "";
    border-left: 2px solid #29166f;
    height: 126px;
    left: 8.5%;
    top: 45px;
    z-index: 1;
    position: absolute;
  }

  .position_card2 {
    top: 8px;
    right: 6px;
  }

  .top_position_fixed3 {
    position: absolute;
    left: -8.9%;
    top: 48%;
  }

  .top_position_fixed4 {
    position: absolute;
    left: -9%;
    top: 73%;
  }

  .top_position_fixed3::after {
    content: "";
    border-left: 2px solid #29166f;
    height: 126px;
    left: 25px;
    top: 45px;
    z-index: 1;
    position: absolute;
  }

  .top_position_fixed::after {
    content: "";
    border-left: 2px solid #29166f;
    height: 127px;
    left: 0px;
    top: 31px;
    z-index: 1;
    position: absolute;
  }

  .top_position_fixed2 {
    position: absolute;
    left: -9.5%;
    margin-top: -39px;
  }

  .climbing_image {
    height: 250px;
    width: 100%;
  }

  .worldmap_image {
    height: 300px;
    width: 100%;
  }

  .connection_text {
    color: #000;
    font-family: Barlow;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.8px;
  }

  .connection_text {
    color: #000;

    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.8px;
  }

  .presentation_text {
    color: #000;
    margin-bottom: 0px;

    font-family: Barlow;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.8px;
  }

  .bg-net {}

  .check_font {
    font-size: 24px;
    color: #29166f;
  }

  .experien_text {
    color: #000;
    font-family: Barlow;
    /* font-size: 30px; */
    font-size: 22px;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .list_expi_text {
    color: #666;
    font-family: Barlow;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.8px;
  }

  .diamond_pic {
    width: 189px;
    height: 179px;
    position: relative;
  }

  .pic1::before {
    /* content: ; */
    content: "";
    background: url(./assets/benzine-sm.png);
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    left: -15px;
    width: 65px;
    height: 51px;
    z-index: -1;
  }

  .ceo_btn>h2 {
    font-size: 11px;
    white-space: nowrap;
  }

  .ceo_btn>p {
    font-size: 10px;
    white-space: nowrap;
  }

  .ceo_btn {
    width: 100%;
    padding: 8px 14px;
  }

  .pic1::after {
    /* content: ; */
    content: "";
    background: url(./assets/benzine-big.png);
    background-size: 100% 100%;
    position: absolute;
    bottom: 20px;
    z-index: -1;
    right: -10px;
    width: 80px;
    height: 49px;
  }

  .btn_section {
    width: 100%;
  }

  .img_thumbnail_sec {
    width: 100%;
  }

  .video_thumbnail {
    height: 245px;
    width: 100%;
  }

  .bg-greylight {
    background-color: #ededef;
  }

  .team_arin_text>div>h4 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 34.992px;
    text-align: center;
  }

  .team_arin_text>div>p {
    color: #666;
    text-align: center;
    font-family: Barlow;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.8px;
  }

  .bg-founder {
    background-image: url(./assets/teambg.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 230px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .founder-banner-text {
    padding: 2px 9px;
    background: rgba(255, 255, 255, 0.45);
    width: 85%;
    margin-top: 0px;
    margin: 20px;
    align-self: flex-end;
  }

  .founder-banner-text>h4 {
    color: #29166f;
    text-align: center;
    font-family: Barlow;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 0;
  }

  .founder-banner-text>p {
    color: #000;
    text-align: center;
    font-size: 20px;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    line-height: 30.3px;
    margin-bottom: 0px;
  }

  .footer_first>h4 {
    font-size: 12px;
  }

  .bg-machine {
    position: relative;
  }

  .footer_sec>h4 {
    font-size: 20px;
  }

  .footer_links li>a {
    font-size: 14px;
  }

  .footer_third>h4 {
    font-size: 20px;
  }

  .footer_fourth>h4 {
    font-size: 20px;
  }

  .footer_first>div:first-child {
    width: 126px;
    height: 62px;
  }

  .gap-75 {
    gap: 40px;
  }

  #footerlogo2 {
    display: block;
  }

  #footerlogo1 {
    display: none;
  }

  .company_list {
    gap: 25px;
  }

  .cusotm-grey {
    background-color: #fff;
  }

  .company_list>div {
    width: 45%;
  }

  .bg-blog {
    padding: 25px 0px 30px 0px;
    margin-top: 12px;
  }

  .company_list>div>div {
    /* width: 34px;
        height: 32.061px; */
    width: 25px;
    height: 25.061px;
  }

  .company_list>div>h3 {
    white-space: nowrap;
    font-size: 17px;
  }

  .company_card {
    /* margin-bottom: 53px; */
    /* height: 168px; */
  }

  .card_exp_btn {
    margin-top: 0px;
  }

  .arin_corpo>h4 {
    margin-bottom: 17px;

    font-size: 14px;
  }

  .blog_wrapp>h6 {
    font-size: 24px;
  }

  .arin_brand_wrap>div {
    border-radius: 10px;
    background: #29166f;
    width: 100%;
    height: 132px;
    padding: 12px;
  }

  .arin_corpo>p {
    margin-bottom: 49px;
    color: black;
    font-size: 18px;

    line-height: 125.6%;
  }

  .card_craousal {
    height: 205px;
  }

  #organization_port {
    display: none;
  }

  .organize_left {
    width: 100%;
    margin-top: 36px;
  }

  .overlay_card h1 {
    font-size: 14px;
  }

  .overlay_card h2 {
    font-size: 18px;
  }

  .organizing_list>li>span:nth-child(2) {
    color: #000;
    font-family: Barlow;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 28.8px;
  }

  .organize_left h6 {
    color: #29166f;
    font-family: Barlow;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .organize_left h5 {
    color: #000;
    font-family: Barlow;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.8px;
  }

  .bg-springs {
    background-position: center;
  }

  .activities_text {
    background-color: #ededef;
  }

  .card_heading {
    color: #000;
    text-align: center;
    font-family: Barlow;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .card_date {
    color: #000;

    font-family: Barlow;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .Activities_wrapper>div {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
  }

  .activity_texth4 {
    color: #000;
    margin-bottom: 19px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
  }

  .activity_textp {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0;
    line-height: normal;
  }

  .overlay_text {
    color: #fff;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 162%;
  }

  .gap-custom {
    gap: 48px;
  }

  #aboutUs_section {
    display: none;
  }

  #arin_header_nav {
    display: none;
  }

  .about_section div.card_view>div {
    width: 100%;
  }

  .arin_wrap {
    padding-top: 0px;
    padding-bottom: 210px;
  }

  .bg-grey {
    background: white;
  }

  .connect_header>h4 {
    color: #000;

    font-size: 24px;

    margin-bottom: 16px;
  }

  .connect_header>p {
    color: #666;
    text-align: center;
    font-family: Barlow;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.6px;
  }

  .bg-meeting {
    background-image: url(assets/meeting.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    padding: 30px;
    height: 115px;
    margin-top: 45px;
    z-index: 20;
    margin-bottom: 42px;
  }

  .hexagon {
    background-image: url(assets/hexagon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 87.83px;
    height: 75.906px;
    margin-top: -53px;
  }

  .w-48 {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
  }

  .journeyCard_wrapper>div {
    border-radius: 10px;
    background: #29166f;
    width: 100%;

    height: 132px;
    padding: 12px;
  }

  .cardtop {
    gap: 21px;
  }

  .journey_wrapper>p {
    color: #000;

    text-align: center;
    font-family: Barlow;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .journey_wrapper {
    padding-top: 29px;
  }

  .arin_banner>div>div>div {
    padding: 49px 0px;
  }

  .bg-banner {
    height: 300px;
    background-size: contain;
    background-image: url(assets/bg-banner2.png);
  }

  .arin_banner h3 {
    color: #29166f;
    font-size: 36px;
    font-weight: 600;
    line-height: 35.8px;
  }

  .arin_banner p:first-child {
    color: #f7bd01;
    font-family: Barlow;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  .banner_text {
    color: #000;
    text-align: center;
    font-family: Barlow;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 51.8px;
  }

  .arin_features h1 {
    font-size: 16px;
    text-align: center;
  }

  .aboutUs_banner {
    margin: 14px;
  }

  /* --first--banner-- */
  .aboutUs_banner_image {
    background-image: url(./assets/aboutUs_responsive/Rectangle_1.webp);
    background-size: contain;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: flex-end;
  }

  .aboutUs_banner_text_container {
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    margin-bottom: 32px;
  }

  .aboutUs_banner_text {
    width: 335px;
    height: 108px;
    border-radius: 4px;
    background-color: rgba(225, 225, 225, 0.45);
    padding-top: 10px;
  }

  .aboutUs_banner_text p {
    text-align: center;
    word-wrap: break-word;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0px;
  }

  .aboutUs_banner_text h1 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.3px;
    padding: 0px 20px;
  }

  /* --second--banner-- */

  .aboutUs_banner_2_backgroundImage {
    background-image: url(./assets/aboutUs/NEET-UG.webp);
  }

  .aboutUs_banner_2_content {
    flex-direction: column;
  }

  .aboutUs_banner_2_content {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .aboutUs_banner_2_pcImage_container {
    width: 100%;
  }

  .aboutUs_banner_2_pcImage {
    width: 100%;
    height: inherit;
  }

  .aboutUs_banner_2_textField {
    width: 100%;
  }

  .aboutUs_banner_2_textField {
    text-align: center;
  }

  .aboutUs_banner_2_textField p:first-child {
    font-size: 14px;
    line-height: normal;
    margin-bottom: 1rem;
  }

  .aboutUs_banner_2_textField p:nth-child(2) {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 33.8px;
  }

  .aboutUs_banner_2_textField p:nth-child(3) {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 33.8px;
  }

  /* --facilities--box-- */
  .aboutUs_facilities_textField {
    padding-top: 20px;
  }

  .aboutUs_facilities_textField p:first-child {
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    line-height: 20px;
  }

  .aboutUs_facilities_textField p:nth-child(2) {
    font-size: 12px;
    text-align: center;
    font-weight: 200;
    line-height: 14px;
  }

  .aboutUs_facilities_contentBoxes {
    padding-bottom: 20px;
  }

  .contentBox_container {
    flex-direction: column;
  }

  .contentBox {
    width: 100%;
  }

  /* --third--banner-- */

  .aboutUs_banner_3 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 34px 20px 0px;
  }

  .aboutUs_banner_3_backgroundImage {
    background-image: none;
    width: auto;
    height: auto;
  }

  .aboutUs_banner_3_text {
    padding-top: 20px;
    background-color: #000;
    z-index: -1;
    position: relative;
    padding-bottom: 10px;
  }

  .aboutUs_banner_3_text p:first-child {
    width: auto;
  }

  .banner_3_text_back {
    background-color: #fff;
    margin: 50px 10px 20px;
    padding: 50px 24px;
    padding-bottom: 20px;
  }

  .responsive_image_back {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  .responsive_image {
    margin-top: -102px;
  }

  .aboutUs_banner_3_text p:nth-child(2) {
    padding-top: 20px;
    width: auto;
    font-size: 24px;
    text-align: center;
    font-weight: 500;
  }

  .aboutUs_banner_3_text p:nth-child(3) {
    width: auto;
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    line-height: 33.8px;
  }

  /* --like--banner-- */
  .aboutUs_like_container {
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  /* --Features-- */

  /* --main--banner-- */
  .bg__founder {
    background-size: cover;
    background-position: left;
  }

  .features-banner-text>h4 {
    font-size: 34px;
    padding-bottom: 12px;
    text-align: center;
  }

  .features-banner-text>p {
    font-size: 24px;
    width: 100%;
    text-align: center;
  }

  .features__items {
    flex-direction: column;
  }

  .select__list_items {
    flex-direction: column;
    gap: 15px;
  }

  .accordion_main {
    position: static;
  }

  .filter__lable {
    margin-bottom: 20px;
  }

  .select__list_show>select {
    width: 220px;
    margin-left: 20px;
  }

  .key_chain_text h3 {
    font-size: 22px;
    text-align: center;
  }

  .key_chain_text p {
    line-height: 25px;
    text-align: center;
  }

  .key_chain_banner {
    width: 100%;
    height: auto;
  }

  /* --blog--page-- */
  .blog_main_container {
    flex-direction: column-reverse;
  }

  .side_banner {
    position: static;
    width: 100%;
  }

  .recent_post_heading {
    padding-bottom: unset;
  }

  .recent_post_heading h3 {
    font-size: 16px;
    font-weight: 500;
  }

  .recent_post_text p {
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0px 5px;
  }

  .blog_container {
    width: 100%;
  }

  .blog {
    padding: 10px;
  }

  .blog_hadding h1 {
    font-size: 18px;
    line-height: 100%;
  }

  .blog_background {
    /* background-size: 100% 100%; */
    height: 300px;
  }

  .blog_text p {
    font-size: 15px;
    line-height: 20px;
  }

  .blog_button button {
    font-size: 18px;
  }

  .bg_sign_up {
    background: white;
  }

  .vertical-divider {
    display: none;
  }

}

@media screen and (min-width: 400px) {
  .founder-banner-text {
    padding: 2px 9px;
    background: rgba(255, 255, 255, 0.45);
    width: 75%;
    align-self: flex-end;
  }

  .sign_up_img {
    width: 68px;
    height: 68px;
  }

  .text_user_sign {
    font-size: 25px;
  }

  .account_text {
    font-size: 16px;
  }

  .sign_up_text {
    font-size: 16px;
  }

  .or_Text {
    font-size: 16px;
  }

  .ml-rg {
    margin-left: -31px;
  }

  .connect_btn {
    position: fixed;
    bottom: 24px;
    right: 0;
  }

  .arin_slider_text {
    color: #000;
    font-family: Barlow;
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    line-height: 20px;
    /* 125% */
  }

  .arin_slider_btn_text {
    color: #fff;
    font-family: Barlow;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 125% */
  }

  .slider_card_pos {
    top: 49%;
    left: 0px;
    right: 0px;
    z-index: 1;
    width: 85%;
    margin: auto;
  }

  .presentation_text {
    font-size: 16px;
  }

  .experien_text {
    /* font-size: 30px; */
    font-size: 24px;
    margin-bottom: 17px;
  }

  .climbing_image {
    height: 280px;
    width: 100%;
  }

  .list_expi_text {
    font-size: 13px;
  }

  .diamond_pic {
    width: 256px;
    height: 228px;
    position: relative;
  }

  .pic1::before {
    /* content: ; */
    content: "";
    background: url(./assets/benzine-sm.png);
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    left: -53px;
    width: 78px;
    height: 73px;
    z-index: -1;
  }

  .ceo_btn>h2 {
    font-size: 17px;
    white-space: nowrap;
  }

  .ceo_btn>p {
    font-size: 15px;
    white-space: nowrap;
  }

  .ceo_btn {
    width: 100%;
    padding: 8px 14px;
  }

  .pic1::after {
    /* content: ; */
    content: "";
    background: url(./assets/benzine-big.png);
    background-size: 100% 100%;
    position: absolute;
    bottom: 20px;
    z-index: -1;
    right: -46px;
    width: 119px;
    height: 96px;
  }

  .founder-banner-text>h4 {
    font-size: 14px;
    line-height: 20px;
  }

  .founder-banner-text>p {
    font-size: 24px;
    line-height: 46.3px;
  }

  /* --blog--page-- */
  .side_banner {
    text-align: center;
    flex-direction: row !important;
  }

  .recent_posts {
    width: 49%;
  }
}

@media screen and (min-width: 556px) {
  .overlay_card h2 {
    font-size: 25px;
  }

  .sign_up_img {
    width: 72px;
    height: 72px;
  }

  .text_user_sign {
    font-size: 27px;
  }

  .account_text {
    font-size: 17px;
  }

  .sign_up_text {
    font-size: 17px;
  }

  .or_Text {
    font-size: 17px;
  }

  .left_bg_img {
    width: 233px;
    height: 157px;
    overflow: hidden;
  }

  .connect_btn {
    position: fixed;
    bottom: 24px;
    right: 0;
  }

  .arin_slider_text {
    color: #000;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    line-height: 20px;
    /* 125% */
  }

  .arin_slider_btn_text {
    color: #fff;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 125% */
  }

  .slider_card_pos {
    top: 48%;
    left: 0px;
    right: 0px;
    z-index: 1;
    width: 85%;
    margin: auto;
  }

  .ml-rg {
    margin-left: 41px;
  }

  .position_card {
    top: 8px;
    left: 12px;
  }

  .top_position_fixed2::after {
    content: "";
    border-left: 2px solid #29166f;
    height: 98px;
    left: 8.5%;
    top: 45px;
    z-index: 1;
    position: absolute;
  }

  .top_position_fixed2::after {
    content: "";
    border-left: 2px solid #29166f;
    height: 126px;
    left: 91.5%;
    top: 45px;
    z-index: 1;
    position: absolute;
  }

  .position_card2 {
    top: 8px;
    right: 6px;
  }

  .top_position_fixed3 {
    position: absolute;
    left: -8.9%;
    top: 48%;
  }

  .top_position_fixed4 {
    position: absolute;
    left: -100%;
    top: 73%;
  }

  .top_position_fixed3::after {
    content: "";
    border-left: 2px solid #29166f;
    height: 126px;
    left: 25px;
    top: 45px;
    z-index: 1;
    position: absolute;
  }

  .top_position_fixed::after {
    content: "";
    border-left: 2px solid #29166f;
    height: 127px;
    left: 0px;
    top: 31px;
    z-index: 1;
    position: absolute;
  }

  .top_position_fixed2 {
    position: absolute;
    left: -100%;
    margin-top: -39px;
  }

  .bc-journy {
    background-image: url(assets/cimbcloud.png);
    background-position: 4% center;
    /* background-size: contain; */
    background-size: 67% 89%;
    background-repeat: no-repeat;
  }

  .experien_text {
    /* font-size: 30px; */
    font-size: 26px;
    margin-bottom: 18px;
  }

  .climbing_image {
    height: 300px;
    width: 100%;
  }

  .list_expi_text {
    font-size: 14px;
  }

  .company_list>div {
    width: 47%;
  }

  .team_arin_text>div>h4 {
    font-size: 26px;
  }

  .team_arin_text>div>p {
    font-size: 13px;
  }

  .company_list>div>div {
    width: 34px;
    height: 32.061px;
  }

  .company_list>div>h3 {
    /* white-space: nowrap; */
    font-size: 24px;
  }

  .overlay_card h1 {
    font-size: 16px;
  }

  .card_craousal {
    height: 243px;
  }

  .blog_wrapp>h6 {
    font-size: 28px;
  }

  .organizing_list>li>span:nth-child(2) {
    color: #000;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28.8px;
  }

  .organize_left h6 {
    color: #29166f;
    font-family: Barlow;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .organize_left h5 {
    color: #000;
    font-family: Barlow;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.8px;
  }

  .card_heading {
    color: #000;
    text-align: center;
    font-family: Barlow;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .card_date {
    color: #000;

    font-family: Barlow;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .overlay_text {
    color: #fff;
    font-family: Barlow;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 162%;
  }

  .gap-custom {
    gap: 48px;
  }

  #aboutUs_section {
    display: none;
  }

  #arin_header_nav {
    display: none;
  }

  .about_section div.card_view>div {
    width: 100%;
  }

  .arin_wrap {
    padding-top: 0px;
    padding-bottom: 210px;
  }

  .bg-grey {
    background: white;
  }

  .connect_header>h4 {
    color: #000;

    font-size: 24px;

    margin-bottom: 16px;
  }

  .connect_header>p {
    color: #666;
    text-align: center;
    font-family: Barlow;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.6px;
  }

  .bg-meeting {
    background-image: url(assets/meeting.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    padding: 50px;
    height: 180px;
    margin-top: 10px;
    z-index: 20;
    margin-bottom: 10px;
  }

  .hexagon {
    background-image: url(assets/hexagon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 87.83px;
    height: 75.906px;
    margin-top: -53px;
  }

  .w-48 {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
  }

  .journeyCard_wrapper>div {
    border-radius: 10px;
    background: #29166f;
    width: 100%;

    height: 132px;
    padding: 12px;
  }

  .cardtop {
    gap: 21px;
  }

  .journey_wrapper>p {
    color: #000;

    text-align: center;
    font-family: Barlow;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .journey_wrapper {
    padding-top: 29px;
  }

  .arin_banner>div>div>div {
    padding: 49px 0px;
  }

  .bg-banner {
    height: 300px;
    background-size: contain;
    background-image: url(assets/bg-banner2.png);
  }

  .arin_banner h3 {
    color: #29166f;
    font-size: 36px;
    font-weight: 600;
    line-height: 35.8px;
  }

  .arin_banner p:first-child {
    color: #f7bd01;
    font-family: Barlow;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  .banner_text {
    color: #000;
    text-align: center;
    font-family: Barlow;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 51.8px;
  }

  .arin_features h1 {
    font-size: 16px;
    text-align: center;
  }

  .aboutUs_banner_text h1 {
    padding: 0px 30px;
  }

  /* about us */
  /* --first--banner-- */
  .aboutUs_banner {
    margin: 0px;
  }

  .aboutUs_banner_image {
    background-image: url(assets/aboutUs/Rectangle\ 134.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 250px;
    display: block;
  }

  .aboutUs_banner_text_container {
    display: block;

    margin-bottom: 32px;
  }

  .aboutUs_banner_text {
    width: 45%;
    height: unset;
    border-radius: 4px;
    background-color: transparent;
    padding-top: 50px;
    text-align: left;
  }

  .aboutUs_banner_text p {
    text-align: left;
    word-wrap: break-word;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0px;
  }

  .aboutUs_banner_text h1 {
    width: 100%;
    text-align: left;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 46.3px;
    padding: 0px 0px;
  }

  /* -- second--banner -- */
  .aboutUs_banner_2_textField p:first-child {
    font-size: 14px;
  }

  .aboutUs_banner_2_textField p:nth-child(2) {
    font-size: 14px;
    font-weight: 400;
    line-height: 33.8px;
  }

  .aboutUs_banner_2_textField p:nth-child(3) {
    font-size: 14px;
    font-weight: 400;
    line-height: 33.8px;
  }

  /* --third--banner-- */

  .aboutUs_banner_3 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 34px 20px 0px;
  }

  .aboutUs_banner_3_backgroundImage {
    background-image: none;
  }

  .aboutUs_banner_3_text {
    padding-top: 20px;
    background-color: #000;
    z-index: -1;
    position: relative;
    padding-bottom: 20px;
  }

  .aboutUs_banner_3_text p:first-child {
    width: 75%;
  }

  .banner_3_text_back {
    background-color: #fff;
    margin: 120px 10px 20px;
    padding-top: 0px;
    padding-bottom: 20px;
  }

  .responsive_image_back {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  .responsive_image {
    margin-top: -102px;
  }

  .aboutUs_banner_3_text p:nth-child(2) {
    padding-top: 20px;
    width: auto;
    font-size: 24px;
    text-align: center;
    font-weight: 500;
  }

  .aboutUs_banner_3_text p:nth-child(3) {
    width: auto;
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    line-height: 33.8px;
  }

  /* --Features-- */
  /* --main--banner-- */
  .bg__founder {
    background-position: center center;
    background-size: 100% 100%;
    height: 220px;
  }

  .features-banner-text>h4 {
    text-align: left;
    font-size: 24px;
  }

  .features-banner-text>p {
    width: 40%;
    text-align: left;
  }

  .key_chain_text h3 {
    font-size: 30px;
  }

  .key_chain_text p {
    line-height: 28px;
  }

  .blog_background {
    height: 180px;
  }

  .bg_sign_up_right {
    width: 45%;
  }

}

@media screen and (min-width: 767px) {
  .bg-founder {
    background-image: url(./assets/bigteambg.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 400px;
    margin-top: 0px;
    display: flex;
    justify-content: start;
    align-items: start;
  }
    .heading_container h3 {
      /* color: #000; */
      margin-bottom: 12px;
      font-size: 22px;
      font-weight: 600;
      text-align: left;
    }
  
    .heading_container p {
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 500;
      text-align: left;
    }
  
    .heading_container ul {
      padding-left: 0px;
  
      li {
        /* margin-left: 10px; */
        list-style-type: none;
        text-align: left;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1.5px;
        margin-bottom: 8px;
        color: #212529;
      }
    }
  
    .heading_container ul li:first-child {
      font-size: 20px;
      font-weight: 500;
      padding-left: 0px;
      /* margin-left: -10px; */
    }

  .bg_sign_up {
    background: conic-gradient(from 210deg at 134% -200%, #f17d0838 15%, hsla(232, 57.7%, 41.78%, 0.26) 66%);
  }

  .card_heading {
    font-size: 16px;
  }

  .sign_up_img {
    width: 72px;
    height: 72px;
  }

  .text_user_sign {
    font-size: 30px;
  }

  .account_text {
    font-size: 18px;
  }

  .sign_up_text {
    font-size: 18px;
  }

  .or_Text {
    font-size: 18px;
  }

  .contactusBtn {
    border: transparent;
    width: 144px;
    height: 114px;
  }

  .text_above_image {
    padding: 10px 15px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.5);
    min-height: 76px;
  }

  .arin_slider_text {
    color: #000;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    line-height: 20px;
    /* 125% */
  }

  .arin_slider_btn_text {
    color: #fff;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 125% */
  }

  .slider_card_pos {
    top: 60%;
    left: 0px;
    right: 0px;
    z-index: 1;
    width: 85%;
    margin: auto;
  }

  .presentation_text {
    font-size: 14px;
  }

  .experien_text {
    /* font-size: 30px; */
    font-size: 28px;
    margin-bottom: 20px;
  }

  .climbing_image {
    height: 300px;
    width: 100%;
  }

  .list_expi_text {
    font-size: 16px;
  }

  .upwardshift {
    margin-top: -140px;
  }

  .diamond_pic {
    width: 151px;
    height: 141px;
  }

  .ceo_btn>h2 {
    font-size: 11px;
    white-space: nowrap;
  }

  .ceo_btn {
    padding: 8px 14px;
    margin: 15px auto;
  }

  .ceo_btn>p {
    font-size: 10px;
    white-space: nowrap;
  }

  .pic1::before {
    /* content: ; */
    z-index: -1;
    left: -8px;
    width: 63px;
    height: 44px;
  }

  .pic1::after {
    /* content: ; */

    top: 72px;
    z-index: -1;
    right: -49px;
    width: 73px;
    height: 52px;
  }

  .pic3:after {
    background: none !important;
    top: inherit;
    right: inherit;
    width: 0px !important;
    height: 0px !important;
  }

  .team_arin_text>div>h4 {
    font-size: 28px;
  }

  .team_arin_text>div>p {
    font-size: 14px;
  }

  .founder-banner-text {
    padding: 2px 9px;
    background: transparent;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    align-self: center;
  }

  .founder-banner-text>h4 {
    color: #fec434;
    font-family: Barlow;
    text-align: left;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 17px;
  }

  .founder-banner-text>p {
    color: #fff;
    width: 50%;
    text-align: left;
    font-family: Barlow;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 145.8%;
  }

  .bg-banner {
    height: 280px;
    background-size: cover;
    background-image: url(assets/ArinBanner.webp);
  }

  .gap-75 {
    gap: 75px;
  }

  .footer_third>h4 {
    font-size: 23px;
  }

  .footer_first>div:first-child {
    width: 120px;
    height: 119.945px;
  }

  #footerlogo2 {
    display: none;
  }

  #footerlogo1 {
    display: block;
  }

  .company_list>div {
    width: inherit;
  }

  .company_list>div>h3 {
    font-size: 28px;
  }

  .about_section div.card_view>div {
    width: 50%;
  }

  .organizing_list>li>span:nth-child(2) {
    color: #000;
    font-family: Barlow;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 28.8px;
  }

  .organize_left h5 {
    color: #000;
    font-family: Barlow;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.8px;
  }

  .arin_features h1 {
    font-size: 16px;
    text-align: left;
  }

  .arin_banner p:first-child {
    font-size: 13.4px;
    margin-bottom: 15px;
  }

  .arin_banner>div>div>div {
    padding: 35px 0px;
  }

  .arin_banner h3 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 16px;
  }

  .connect_header>p {
    font-size: 14px;
  }

  .gap-custom {
    gap: 48px;
  }

  .banner_text {
    color: #fff;
    font-size: 28px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    line-height: 32.8px;
  }

  .aboutUs_banner_image {
    background-position: center center;
  }

  .boutUs_banner_text {
    padding: 0px 20px;
  }

  /* --first--banner-- */

  .aboutUs_banner_image {
    background-image: url(assets/aboutUs/Rectangle\ 134.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 250px;
    display: block;
  }

  .aboutUs_banner_text_container {
    display: block;

    margin-bottom: 32px;
  }

  .aboutUs_banner_text {
    width: 50%;
    height: unset;
    border-radius: 4px;
    background-color: transparent;
    padding-top: 50px;
    text-align: left;
  }

  .aboutUs_banner_text p {
    text-align: left;
    word-wrap: break-word;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0px;
  }

  .aboutUs_banner_text h1 {
    width: 100%;
    text-align: left;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 46.3px;
    padding: 0px 0px;
  }

  /* --second--banner-- */

  .aboutUs_banner_2_backgroundImage {
    background-image: url(./assets/aboutUs/NEET-UG.webp);
  }

  .aboutUs_banner_2_content {
    flex-direction: row;
  }

  .aboutUs_banner_2_content {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    gap: 20px;
  }

  .aboutUs_banner_2_pcImage_container {
    width: 49.9%;
    display: flex;
    align-items: center;
  }

  .aboutUs_banner_2_pcImage {
    width: 100%;
    height: auto;
  }

  .aboutUs_banner_2_textField {
    width: 49.9%;
  }

  .aboutUs_banner_2_textField {
    text-align: unset;
  }

  .aboutUs_banner_2_textField p:first-child {
    font-size: 30px;
    margin-bottom: 1rem;
  }

  .aboutUs_banner_2_textField p:nth-child(2) {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  .aboutUs_banner_2_textField p:nth-child(3) {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  /* --facilities--box-- */
  .aboutUs_facilities_textField {
    padding-top: 64px;
  }

  .aboutUs_facilities_textField p:first-child {
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    line-height: 20px;
  }

  .aboutUs_facilities_textField p:nth-child(2) {
    font-size: 12px;
    text-align: center;
    font-weight: 300;
    line-height: 20px;
  }

  .aboutUs_facilities_contentBoxes {
    padding-bottom: 73px;
  }

  .contentBox_container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contentBox {
    gap: 25px;
    width: 48%;
  }

  /* --third--banner-- */
  .aboutUs_banner_3 {
    padding-top: 69px;
    padding-bottom: 64px;
    margin: 0 0 0 50px;
  }

  .aboutUs_banner_3_backgroundImage {
    background-image: url(./assets/aboutUs/NEET-UG1.webp);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
  }

  .aboutUs_banner_3_text {
    padding: 0 0;
    padding-top: 60px;
    margin: 0;
    background-color: transparent;
    z-index: 1;
    position: relative;
  }

  .banner_3_text_back {
    background-color: transparent;
    margin: 0px;
    padding-bottom: 0px;
  }

  .responsive_image_back {
    display: none;
  }

  .aboutUs_banner_3_text p:nth-child(2) {
    width: 40%;
    text-align: left;
    color: #000;
    font-family: Barlow;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 0;
  }

  .aboutUs_banner_3_text p:nth-child(3) {
    width: 40%;
    text-align: left;
    color: #666;
    font-family: Barlow;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.8px;
  }

  .responsive_image {
    background-image: none;
  }

  /* --like--banner-- */
  .aboutUs_like_container {
    padding-top: 77px;
    padding-bottom: 48px;
  }

  /* --Features-- */
  /* --main--banner-- */
  .features-banner-text>h4 {
    font-size: 24px;
  }

  .features-banner-text>p {
    font-size: 36px;
  }

  /* --items-- */
  .features__items {
    flex-direction: row;
  }

  .accordion_main {
    position: sticky;
  }

  .key_chain_text h3 {
    text-align: left;
    font-size: 30px;
  }

  .key_chain_text p {
    text-align: left;
    font-size: 16px;
  }

  .key_chain_banner {
    width: 30.7%;
  }

  .bg__founder {
    height: 280px;
  }

  .key_chain_banner {
    width: 48.2%;
  }

  /* --blog--page-- */
  .blog_main_container {
    flex-direction: row;
  }

  .side_banner {
    width: 30%;
    position: sticky;
    text-align: left;
    flex-direction: column !important;
  }

  .recent_posts {
    width: 100%;
  }

  .blog_background {
    height: 220px;
    /* background-size: contain; */
  }

  .recent_post_heading {
    padding-bottom: 10px;
  }

  .recent_post_heading h3 {
    font-size: 18px;
    font-weight: 600;
  }

  .recent_post_text p {
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0px 10px;
  }

  .blog_container {
    width: 70%;
  }

  .blog {
    padding: 25px;
  }

  .blog_hadding h1 {
    font-size: 24px;
    line-height: 133.8%;
  }

  .blog_text p {
    font-size: 14px;
    line-height: 30px;
  }

  .blog_button button {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {
  #arin_header_btn {
    display: flex;
  }

  .blog_background_img_4 {
    height: 640px !important;
  }

  .card_heading {
    font-size: 17px;
  }

  .text_above_image {
    padding: 10px 15px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.5);
    min-height: 76px;
  }

  .sign_up_img {
    width: 78px;
    height: 78px;
  }

  .text_user_sign {
    font-size: 32px;
  }

  .arin_slider_text {
    color: #000;
    font-family: Barlow;
    font-size: 12px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    line-height: 20px;
    /* 125% */
  }

  .arin_slider_btn_text {
    color: #fff;
    font-family: Barlow;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 125% */
  }

  .slider_card_pos {
    top: 39%;
    left: 0px;
    right: 0px;
    z-index: 1;
    width: 85%;
    margin: auto;
  }

  .position_card2 {
    top: 15px;
    right: 25px;
  }

  .top_position_fixed4 {
    position: absolute;
    left: -100%;
    top: 73%;
  }

  .position_card {
    top: 15px;
    left: 25px;
  }

  .top_position_fixed2::after {
    content: "";
    border-left: 2px solid #29166f;
    height: 111px;
    left: 91.5%;
    top: 45px;
    z-index: 1;
    position: absolute;
  }

  .top_position_fixed::after {
    content: "";
    border-left: 2px solid #29166f;
    height: 143px;
    left: 0px;
    top: 31px;
    z-index: 1;
    position: absolute;
  }

  .left_bg_img {
    width: 272px;
    height: 157px;
    overflow: hidden;
  }

  .presentation_text {
    font-size: 20px;
  }

  .bg-net {
    background-image: url(assets/Vector.png);
    background-position: 70% center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .experien_text {
    /* font-size: 30px; */
    font-size: 20px;
    margin-bottom: 25px;
  }

  .climbing_image {
    height: 350px;
    width: 100%;
  }

  .list_expi_text {
    font-size: 13.2px;
  }

  .upwardshift {
    margin-top: -140px;
  }

  .diamond_pic {
    width: 217px;
    height: 198px;
  }

  .ceo_btn>h2 {
    font-size: 12px;
    white-space: nowrap;
  }

  .ceo_btn {
    padding: 8px 14px;
    margin: 15px auto;
  }

  .ceo_btn>p {
    font-size: 12px;
  }

  .pic1::before {
    /* content: ; */
    content: "";
    background: url(./assets/benzine-sm.png);
    background-size: 100% 100%;
    position: absolute;
    z-index: -1;
    top: 0px;
    left: -8px;
    width: 63px;
    height: 44px;
  }

  .pic1::after {
    /* content: ; */
    content: "";
    background: url(./assets/benzine-big.png);
    background-size: 100% 100%;
    position: absolute;
    bottom: 20px;
    z-index: -1;
    top: 89px;
    /*right: -141px;
    width: 146px;
    height: 102px; */
    right: -90px;
    width: 96px;
    height: 69px;
  }

  .pic3:after {
    background: none !important;
    top: inherit;
    right: inherit;
    width: 0px;
    height: 0px;
  }

  .btn_section {
    width: 30%;
  }

  .img_thumbnail_sec {
    width: 70%;
  }

  .video_thumbnail {
    height: 245px;
    width: 48%;
  }

  .bg-greylight {
    background-color: #fff;
  }

  .bg-machine {
    position: relative;
    background: linear-gradient(0deg,
        rgba(41, 22, 111, 0.84),
        rgba(41, 22, 111, 0.84)),
      url(assets/machine.webp);
    background-size: cover;
    /* background-blend-mode: overlay; */
    padding-bottom: 100px;
    background-repeat: no-repeat;

    background-position: center;
  }

  .footer_sec>h4 {
    font-size: 24px;
  }

  .footer_links li>a {
    font-size: 16px;
  }

  .footer_third>h4 {
    font-size: 24px;
  }

  .footer_fourth>h4 {
    font-size: 24px;
  }

  .company_list>div>h3 {
    font-size: 32px;
  }

  .company_card {
    /* margin-bottom: 79px; */
    /* height: 114px; */
  }

  .cusotm-grey {
    background-color: #fff;
  }

  .bg- .company_list>div>div {
    width: 40.641px;
    height: 35.925px;
  }

  .bg-blog {
    background-image: url(assets/world.webp);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0px 47px 0px;
    margin-top: 0px;
  }

  .blog_wrapp>h6 {
    font-size: 32px;
  }

  .arin_corpo>p {
    color: #fff;
    margin-bottom: 49px;
    text-align: center;
    font-family: Barlow;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 147.6%;
  }

  .overlay_card h2 {
    color: #000;
    margin-bottom: 22px;
    font-family: Barlow;
    font-size: 21px;
  }

  .center_div {
    width: 148px;
    height: 128px;
  }

  .card_exp_btn {
    margin-top: 5px;
  }

  .center_div p {
    font-size: 16px;
  }

  .box {
    /* position: absolute; */
    width: 197px;
    height: 138px;
  }

  .card_craousal {
    height: 170px;
  }

  .arin_wrap {
    padding-top: 190px;
    padding-bottom: 163px;
  }

  .organize_left h5 {
    color: #000;
    font-size: 28px;
    line-height: 10px;
  }

  .bg-springs {
    /* background-image: url(assets/Vector.png); */
    background-position: 77%;
  }

  #organization_port {
    display: flex;
  }

  .organize_left h6 {
    color: #29166f;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
  }

  .organize_left h5 {
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.8px;
    margin-bottom: 28px;
  }

  .organize_left p {
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.8px;
    margin-bottom: 15px;
  }

  .organize_left {
    width: 50%;
    margin-top: 36px;
  }

  .activities_text {
    background-color: white;
  }

  .Activities_wrapper>div {
    border-radius: 10px;
    overflow: hidden;
    width: 33%;
  }

  .connect_header>h4 {
    font-size: 36px;
    margin-bottom: 16px;
  }

  .connect_header>p {
    color: #666;
    text-align: center;
    width: 75%;
    margin: auto;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.6px;
  }

  .arin_wrap {
    padding-top: 190px;
    padding-bottom: 210px;
  }

  .activities_card+div {
    padding: 19px 0px;
    /* border-radius: 10px; */
  }

  .activity_texth4 {
    color: #000;
    margin-bottom: 19px;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
  }

  .activity_textp {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0;
    line-height: normal;
  }

  .bg-grey {
    background: #ededef;
  }

  .hexagon {
    width: 121.092px;
    height: 104.653px;
    margin-top: -53px;
  }

  .w-48 {
    width: 48px;
    height: 51.172px;
    flex-shrink: 0;
  }

  #arin_header_nav {
    display: flex;
  }

  #arin_offcanva {
    display: none;
  }

  .bg-banner {
    height: 331px;
  }

  .journeyCard_wrapper>div {
    border-radius: 10px;
    background: #29166f;
    width: 23%;

    height: 200px;
    padding: 12px;
  }

  .bg-journey {
    background-image: url(assets/bg-arrrow.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 560px;
  }

  .bg-meeting {
    margin-top: 76px;
    background-size: cover;
    width: 100%;
    padding: 50px;
    height: 227px;
    margin-top: 80px;
    z-index: 20;
    margin-bottom: 7px;
  }

  .arin_banner p:first-child {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .arin_banner>div>div>div {
    padding: 65px 0px;
  }

  .arin_banner h3 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 16px;
  }

  .banner_text {
    color: #fff;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.8px;
  }

  .aboutUs_banner_image {
    background-position: center center;
    background-size: cover;
    height: 330px;
  }

  .aboutUs_banner_text p {
    text-align: left;
  }

  .aboutUs_banner_text h1 {
    width: 40%;
    text-align: left;
    font-weight: 500;
    padding: 0px 0px;
  }

  .aboutUs_banner_text {
    padding-top: 95px;
    width: 100%;
  }

  /* --second--banner-- */

  .aboutUs_banner_2_content {
    padding-top: 89px;
    padding-bottom: 53px;
  }

  .aboutUs_banner_2_pcImage {
    width: 90%;
  }

  .aboutUs_banner_2_textField p:first-child {
    margin-bottom: 2rem;
  }

  .aboutUs_banner_2_textField p:nth-child(2) {
    line-height: 33.8px;
  }

  .aboutUs_banner_2_textField p:nth-child(3) {
    line-height: 33.8px;
  }

  /* --facilities--box-- */

  .aboutUs_facilities_textField p:first-child {
    font-size: 30px;
    font-weight: 500;
    line-height: 38.3px;
    margin-bottom: 0.5rem;
  }

  .aboutUs_facilities_textField p:nth-child(2) {
    font-size: 14px;
    font-weight: 400;
    line-height: 22.6px;
  }

  .contentBox {
    width: 30%;
  }

  /* --third--banner-- */

  .aboutUs_banner_3_backgroundImage {
    height: 500px;
  }

  /* --Features-- */
  .select__list_items {
    flex-direction: row;
  }

  .select__list_show>select {
    width: 80px;
    margin-left: 0px;
  }

  .key_chain_banner {
    width: 31.7%;
  }

  .bg__founder {
    height: 380px;
  }

  /* --blog--page-- */
  .blog_background {
    height: 240px;
  }

  .blog_container {
    width: 75%;
  }

  .side_banner {
    width: 25%;
  }

  .blog_text p {
    font-size: 14px;
    line-height: 30px;
  }

  .blog_hadding h1 {
    font-size: 30px;
  }
}

@media screen and (min-width: 1100px) {
  .bg-banner {
    height: 360px;
  }

  .text_user_sign {
    font-size: 32px;
  }

  .card_heading {
    font-size: 22px;
  }

  .contactusBtn {
    border: transparent;
    width: 144px;
    height: 114px;
  }

  .text_above_image {
    padding: 10px 15px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.5);
    min-height: 76px;
  }

  .arin_slider_text {
    color: #000;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    line-height: 20px;
    /* 125% */
  }

  .arin_slider_btn_text {
    color: #fff;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 125% */
  }

  .slider_card_pos {
    top: 45%;
    left: 0px;
    right: 0px;
    z-index: 1;
    width: 85%;
    margin: auto;
  }

  .list_image+p {
    margin-bottom: 15px !important;
    line-height: 20px !important;
  }

  .company_list {
    gap: 50px;
  }

  .blog_wrapp>h6 {
    font-size: 36px;
  }

  .center_div {
    width: 148px;
    height: 128px;
  }

  .card_exp_btn {
    margin-top: 5px;
  }

  .card_craousal {
    height: 242px;
  }

  .overlay_card h2 {
    margin-bottom: 30px;

    font-size: 36px;
  }

  .center_div p {
    font-size: 16px;
  }

  .box {
    /* position: absolute; */
    width: 197px;
    height: 138px;
  }

  .arin_wrap {
    padding-top: 190px;
    padding-bottom: 163px;
  }

  .organize_left h5 {
    color: #000;
    font-size: 28px;
    line-height: 10px;
  }

  .activities_card+div {
    padding: 19px 0px;
    /* border-radius: 10px; */
  }

  #aboutUs_section {
    display: flex;
  }

  .arin_banner p:first-child {
    font-size: 15px;
    margin-bottom: 17px;
  }

  .arin_banner>div>div>div {
    padding: 70px 0px;
  }

  .activity_texth4 {
    color: #000;
    margin-bottom: 19px;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
  }

  .activity_textp {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0;
    line-height: normal;
  }

  .arin_banner h3 {
    color: #fff;
    font-size: 35px;
    margin-bottom: 17px;
  }

  .banner_text {
    color: #fff;
    font-size: 35px;
    line-height: 38.8px;
  }

  .bg-journey {
    height: 560px;
  }

  .bg-meeting {
    margin-top: 50px;
  }

  #parallelogram {
    width: 144px;
    height: 71px;
  }

  .arrow_image_pos1 {
    width: 87.083px;
    height: 124.5px;
  }

  .arrow_image_pos2 {
    width: 87.083px;
    height: 125.5px;
  }

  .yellow_pos {
    top: 28%;
    right: -46%;
  }

  .blue_pos {
    top: 27%;
    right: -69%;
  }

  .mt-90 {
    margin-top: 70px;
  }

  .dealingNumber {
    color: #fff;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 43.8px; */
    /* transform: skew(-37deg); */
    margin-bottom: 3px;
    text-align: center;
  }

  .dealingText {
    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0px;
    /* line-height: 26.6px; */
    /* transform: skew(-37deg); */
    text-align: center;
  }

  .arin_aboutUs {
    width: 100%;
    margin-top: 15px;
  }

  .bg_aboutUs {
    background-image: url(assets/about_us.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 630px;
  }

  .mt-19 {
    margin-top: 19px;
  }

  .gap-40 {
    gap: 40px;
  }

  .about_section h1 {
    color: #2734a8;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 14px;
  }

  .about_section h2 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 33.8px;
    margin-bottom: 17px;
  }

  .about_section p {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.6px;
    margin-bottom: 17px;
  }

  .card_view {
    gap: 20px;
  }

  .card_view>div {
    gap: 20px;
  }

  .about_section div.card_view>div {
    width: 50%;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    overflow: hidden;
    padding: 10px 8px;
    max-height: 92px;
    height: 91px;
  }

  .mb-13 {
    margin-bottom: 13px;
  }

  .card_image {
    width: 42px;
    height: 42px;
  }

  .w-10 {
    width: 10%;
  }

  .card_view h3 {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  .gap-12 {
    gap: 12px;
  }

  .card_view p {
    color: #666;
    font-size: 12px;
    line-height: 16px;
  }

  /* --facilities--box-- */
  .contentBox {
    width: 31.8%;
  }

  .aboutUs_banner_text {
    width: 100%;
  }

  /* --Features-- */
  .key_chain_banner {
    width: 31.2%;
  }

  /* --blog--page-- */
  .blog_background {
    height: 280px;
  }
}

@media screen and (min-width: 1200px) {
  .bg-banner {
    height: 400px;
  }

  .experien_text {
    font-size: 30px;

    margin-bottom: 25px;
  }

  .slider_card_pos {
    top: 55%;
    left: 0px;
    right: 0px;
    z-index: 1;
    width: 85%;
    margin: auto;
  }

  .climbing_image {
    height: 429px;
    width: 100%;
  }

  .list_expi_text {
    font-size: 16px;
  }

  .upwardshift {
    margin-top: -140px;
  }

  .diamond_pic {
    width: 256px;
    height: 227px;
  }

  .ceo_btn>h2 {
    font-size: 14px;
    white-space: nowrap;
  }

  .ceo_btn {
    padding: 8px 14px;
    margin: 15px auto;
  }

  .ceo_btn>p {
    font-size: 14px;
  }

  .pic1::before {
    /* content: ; */
    content: "";
    background: url(./assets/benzine-sm.png);
    background-size: 100% 100%;
    position: absolute;
    z-index: -1;
    top: 0px;
    left: -8px;
    width: 63px;
    height: 44px;
  }

  .pic1::after {
    /* content: ; */
    content: "";
    background: url(./assets/benzine-big.png);
    background-size: 100% 100%;
    position: absolute;
    bottom: 20px;
    z-index: -1;

    /*right: -141px;
      width: 146px;
      height: 102px; */
    top: 82px;
    right: -120px;
    width: 121px;
    height: 91px;
  }

  .team_arin_text>div>h4 {
    font-size: 30px;
  }

  .btn_section {
    width: 23%;
  }

  .img_thumbnail_sec {
    width: 77%;
  }

  .video_thumbnail {
    height: 245px;
    width: 48%;
  }

  .arin_corpo>p {
    margin-bottom: 49px;

    font-size: 36px;

    line-height: 147.6%;
  }

  .arin_banner>div>div>div {
    padding: 80px 0px;
  }

  .arin_banner p:first-child {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .arin_banner h3 {
    font-size: 42px;
    line-height: 35.8px;
    margin-bottom: 18px;
  }

  .activity_texth4 {
    color: #000;
    margin-bottom: 19px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
  }

  .activity_textp {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0;
    line-height: normal;
  }

  .banner_text {
    font-size: 29px;
    line-height: 36.8px;
  }

  .bg-journey {
    height: 580px;
  }

  .bg-meeting {
    width: 85%;
    padding: 50px;
    height: 227px;
    margin-top: 80px;
    z-index: 20;
    margin-bottom: 7px;
  }

  /* --Features-- */
  .bg__founder {
    height: 400px;
  }

  .key_chain_banner {
    width: 32%;
  }
}

@media screen and (min-width: 1400px) {
  .bg-banner {
    height: 410px;
  }

  .diamond_pic {
    width: 300px;
    height: 270px;
  }

  .connect_btn {
    position: fixed;
    bottom: 60px;
    right: 0;
    z-index: 20;
  }

  .slider_card_pos {
    top: 60%;
    left: 0px;
    right: 0px;
    z-index: 1;
    width: 85%;
    margin: auto;
  }

  .ceo_btn>h2 {
    font-size: 18px;
    white-space: nowrap;
  }

  .ceo_btn {
    padding: 8px 14px;
    margin: 15px auto;
  }

  .ceo_btn>p {
    font-size: 14px;
  }

  .pic1::before {
    /* content: ; */
    top: 0px;
    left: -8px;
    width: 63px;
    height: 44px;
  }

  .pic1::after {
    /* content: ; */
    z-index: -1;
    right: -141px;
    width: 146px;
    height: 102px;
    top: 89px;
  }

  .organize_left h5 {
    font-size: 36px;
    line-height: 28.8px;
    margin-bottom: 28px;
  }

  .center_div {
    width: 184px;
    height: 154px;
  }

  .card_exp_btn {
    margin-top: 35px;
  }

  .center_div p {
    font-size: 20px;
  }

  .box {
    /* position: absolute; */
    width: 285px;
    height: 192px;
    border-radius: 10px;
  }

  .arin_wrap {
    padding-top: 190px;
    padding-bottom: 210px;
  }

  .activities_card+div {
    padding: 26px 0px;
    /* border-radius: 10px; */
  }

  .arin_banner p:first-child {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .arin_banner h3 {
    font-size: 43px;
    line-height: 33.8px;
    margin-bottom: 19px;
  }

  .banner_text {
    font-size: 36px;
    line-height: 43.8px;
  }

  /* --Features-- */
  .key_chain_banner {
    width: 32.2%;
  }
}

@media screen and (min-width: 1500px) {
  .bg-banner {
    height: 510px;
  }

  .arin_banner p:first-child {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .arin_banner h3 {
    font-size: 48px;
    line-height: 35.8px;
    margin-bottom: 19px;
  }

  .banner_text {
    font-size: 40px;
    line-height: 51.8px;
  }
}