@media (max-width:1200px) {
    .userName {
        font-size: 1.6rem;
    }

    .aboutmeheading {
        font-size: 1.3rem;
    }

    .aboutmetext {
        font-size: 14px;
    }

    .brands-icon i {
        font-size: 16px !important;
    }


}

@media (max-width:1050px) {
    .profileswiperImage {
        width: 500px;
        height: 500px;
    }

    .rombus-box {
        width: 500px;
        height: 500px;
    }

    .bottom-left {
        bottom: 92px;
        left: 59px;
    }

    .brands-icon {
        grid-template-columns: 1fr 16px;
    }

    .bottom-right {
        bottom: 158px;
        right: 21px;
    }

    .top-right {
        top: 76px;
    }

    .top-left-circle {
        top: -102px;
        left: 12rem;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
}

@media (max-width:992px) {
    .h-screen {
        height: 100%;
    }

    .bg-layout-3 {
        min-height: 100%;
        height: 100%;
    }
}

@media (max-width:767px) {
    .rombus-box {
        width: 430px;
        height: 430px;
    }

    .top-left-circle {

        width: 300px;
        height: 300px;

    }

    .bottom-right-circle {
        width: 300px;
        height: 300px;
    }

    .parent-rombus-box {
        width: 440px;
        height: 440px;
    }

    .parent-rombus-box1 {
        width: 445px;
        height: 445px;
    }

    .profileswiperImage {
        width: 430px;
        height: 430px;
    }
}

@media (max-width:526px) {
    .rombus-box {
        width: 300px;
        height: 400px;
        margin: 0px auto;
        clip-path: none;
    }

    .dotes-top-right {
        top: 9rem;
        right: 1rem;
    }

    .dotes-bottom-right {
        right: 8rem;
        bottom: 21rem;
    }

    .top-left-circle {
        top: -20px;
        left: 5px;
        width: 170px;
        height: 170px;
        border-radius: 50%;
    }

    .bottom-right-circle {
        bottom: 30%;
        right: -15px;
        width: 170px;
        height: 170px;
        border-radius: 50%;
    }

    .h-2screen {
        min-height: 85dvh;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .parent-rombus-box {
        width: 330px;
        margin: 0px auto;
        height: 430px;
        clip-path: none;
    }

    .parent-rombus-box1 {
        width: 305px;
        margin: 0px auto;
        height: 415px;
        clip-path: none;
    }

    .profileswiperImage {
        width: 300px;
        height: 400px;


    }

    .swiper-slide {
        height: 100% !important;
    }

    /* .profileswiper {
        width: 310px;
        height: 310px;
    } */

    .bottom-solid-strip {
        left: 75%;
    }

    .bottom-border-strip {
        left: 52%;
    }

    .aboutmetext {
        font-size: 0.8rem;
    }
}

@media (max-width:300px) {}