.bg-back {
    background: #00bd9f;
}

.bluestrip {
    background: #000086cf;
}

.text-Darkblue {
    color: #000 ;
}

.text-secondary {
    color: #696969 !important;
}
.text-lightGray{
    color: #696969;
}


.text-white {
    color: white !important;
}

.swiper-pagination-bullet-active {
    background: #fff;
}