.bg-back {
    background: #00bd9f;
}

.bluestrip {
    background: #000086cf;
}

.text-Darkblue {
    color: #fff !important;
}

.text-secondary {
    color: #696969 !important;
}


.text-white {
    color: white !important;
}

.swiper-pagination-bullet-active {
    background: #00bd9f;
}