@media (max-width:1500px) {
    .bluestrip {
        left: 150px;
        transform: rotate(-39deg);
    }
}

@media (max-width:1400px) {
    .bluestrip {
        left: 120px;
        transform: rotate(-39deg);
    }
}

@media (max-width:1300px) {
    .bluestrip {
        left: 100px;
        transform: rotate(-39deg);
    }
}

@media (max-width:1200px) {
    .bluestrip {
        left: 50px;
        transform: rotate(-39deg);
        width: 300px;
    }

    .userName {
        font-size: 1.6rem;
    }

    .aboutmeheading {
        font-size: 1.3rem;
    }

    .aboutmetext {
        font-size: 14px;
    }

    .brands-icon i {
        font-size: 16px !important;
    }


}

@media (max-width:1050px) {


    .bottom-left {
        bottom: 92px;
        left: 59px;
    }

    .brands-icon {
        grid-template-columns: 1fr 16px;
    }

    .bottom-right {
        bottom: 158px;
        right: 21px;
    }

    .top-right {
        top: 76px;
    }

    .top-left-circle {
        top: -102px;
        left: 12rem;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
}

@media (max-width:992px) {
    .h-screen {
        height: 100%;
    }

    .py-100 {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .mobile-screen-visible {
        bottom: 10px;
        width: 100%;
        z-index: 99;
        text-align: center;

    }

    .bluestrip {
        left: 50px;
        transform: rotate(-39deg);
        width: 0px;
    }

    .bg-layout-3 {
        min-height: 100%;
        height: 100%;
    }

    .userName {
        font-size: 3rem;
    }

    .userdestination {
        font-size: 1.8rem;
    }

    .aboutmeheading {
        font-size: 1.7rem;
    }

    .aboutmetext {
        font-size: 20px;
    }

    .brands-icon span:first-child {
        font-size: 1.5rem;
    }

    .brands-icon i {
        font-size: 1.5rem !important;
    }

}

@media (max-width:767px) {}

@media (max-width:576px) {


    .swiper-slide {
        height: 100% !important;
        width: 100% !important;
    }



    .swiper-slide {
        height: 100% !important;
    }

    .brands-icon i {
        font-size: 2.2rem !important;
    }

    .bottom-solid-strip {
        left: 75%;
    }

    .bottom-border-strip {
        left: 52%;
    }

    .aboutmeheading {
        font-size: 2.2rem;
    }

    .userdestination {
        font-size: 1.3rem;
    }

    .aboutmetext {
        font-size: 1.5rem;
    }
}

@media (max-width:400px) {
    .userName {
        font-size: 1.8rem;
    }

    .aboutmeheading {
        font-size: 1.5rem;
    }

    .aboutmetext {
        font-size: 1.1rem;
    }
}