@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root {
    --bodycolor: #f8fafd;
    --main-heading: #2a176f;
    --primary-text: #1f1f1f;
    --primary-text2: #1f1f1f;
    --btn: #d3e3fd;
    --disctext: #474747;
    --btn-hover: #041e49;
    --text-dark: #202125;
    --white: #ffffff;
    --backcard: #edf2fa;
    --footer-text: #5f6368;
}

.bg-white {
    background-color: var(--white) !important;
}

body {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.special-font {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.body {
    background-color: var(--bodycolor) !important;
}

.footer-wrapper {
    background-color: var(--white);
}

.py-120 {
    padding: 120px 0;
}

.banner-main {
    z-index: 0;
    background-color: var(--bodycolor);
}

.bg-banner {
    background-image: url(../assets/arin-banner.webp);
    background-position: center;
    background-size: cover;
    border-radius: 24px;
    z-index: 1;
    background-repeat: no-repeat;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.banner-text-wrapper {
    padding: 0 72px;
}

.banner-big-text {
    font-size: 3.5rem;
    line-height: 4.5rem;
    font-weight: 500;
    letter-spacing: -0.5px;
    margin-top: 24px;
    z-index: 2;
    color: var(--main-heading);
    /* background: #F1A403; */
    /* background: linear-gradient(to right, #F1A403 0%, #DE331B 38%, #2A176F 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.banner-small-text {
    font-weight: 400;
    padding: 0 20px;
    font-size: 1.25rem;
    line-height: 2rem;
    color: var(--primary-text);
    /* background: #F1A403;
    background: linear-gradient(to right, #F1A403 0%, #DE331B 38%, #2A176F 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.color_team {
    background: #F1A403;
    background: linear-gradient(to right, #F1A403 0%, #DE331B 38%, #2A176F 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.logo-image {

    z-index: 1;
    padding: 4px;
    /* background-color: var(--bodycolor); */
    left: 50%;
    top: 4%;
    transform: translateX(-50%);

    div {
        width: 64px;
        height: 64px;
    }
}

.labelbtn {
    font-weight: 700;
    text-transform: uppercase;
    font-size: .75rem;
    line-height: .6875rem;
    /* color: var(--btn-hover); */
    background: #F1A403;
    background: linear-gradient(to right, #F1A403 0%, #DE331B 38%, #2A176F 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: max-content;
    /* background-color: var(--btn); */
}

.title_heading {
    font-weight: 500;
    margin: 8px 0 16px;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--primary-text);
}

.title_heading2 {
    font-weight: 500;
    margin: 8px 0 16px;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--primary-text2);
}

.discription {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75rem;
    color: var(--disctext);
}

.sec_list {
    margin: 5px 0 0;
    -webkit-padding-start: 17px;
    padding-inline-start: 17px;
}

.sec-list-item {
    font-size: 1rem;
    line-height: 1.75rem;
    color: var(--disctext);
    list-style-type: decimal;
    letter-spacing: .1px;
}



.sec_button {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--bodycolor);
    border: none;
    border-radius: 32px;
    cursor: pointer;
    font-weight: 500;
    height: 48px;
    outline: none;
    padding: 0 24px;
    -webkit-transition: background-color, color .3s;
    transition: background-color, color .3s;
    background-color: #0b57d0;
}

.sec_button:hover {
    color: var(--btn-hover);
    background-color: var(--btn);
}

.image-sec {
    height: auto;
    width: 100%;
}

.sec-image {
    margin-bottom: 40px;
    height: 400px;
    border-radius: 30px;
    overflow: hidden;
}

.headline {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: var(--primary-text);
}

ul,
li {
    margin: 0;
    padding: 0;
}

.features-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    width: 100%;
    margin-top: 32px;
}


.features_card {
    margin-bottom: 32px;
    opacity: 1;
    max-width: 618px;
    transition: opacity 1s, -webkit-transform .5s;
    transition: transform .5s, opacity 1s;
    transition: transform .5s, opacity 1s, -webkit-transform .5s;
    background-color: #fff4eb;
    list-style-type: none;
}

.features_card:hover,
.features_card:focus {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.fcard-text {
    display: block;
    padding: 24px 32px 16px 32px;
}

.facrd-headline {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--primary-text);
}

.fcard-copy {
    font-family: "Google Sans Text", arial, sans-serif;
    letter-spacing: .1px;
    font-size: 1rem;
    line-height: 1.75rem;
    color: var(--disctext);
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-image {
    display: inline-block;
    height: auto;
    vertical-align: bottom;
}

.chr-icon--link {
    height: 16px;
    width: 16px;
}

.show-more {
    color: var(--btn-hover);
}

.show-more-button {
    background-color: #29166f;
    border: none;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 0;
    padding: 8px 16px;
}

.cursor-pointer {
    cursor: pointer !important;
}

.themebtn {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    top: 20px;
    right: 40px;
}

.followus {
    color: var(--text-dark);
    font-weight: 400;
    /* margin: 0 32px 8px 0; */
}

.text-dark {
    color: var(--text-dark) !important;
}

.font-24 {
    font-size: 24px;

}

.Arin_text {
    /* color: var(--main-heading); */
    background: #F1A403;
    background: linear-gradient(to right, #F1A403 0%, #DE331B 38%, #2A176F 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    font-weight: 700;
    word-spacing: 1.1px;
}

.footer_link {
    cursor: pointer;
    display: inline-block;
    color: var(--footer-text);
    font-size: 20px;
    text-wrap: nowrap;
    font-weight: 500;
}

.trigger{
    border: none !important;
}

.sidebar{
    position: fixed;
    top: 0;
    right: -281px;
    width: 280px;
    background-color: #fff;
    height: 100vh;
    z-index: 11;
    padding: 20px;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0px 0px 10px #00000029;
    transition: all 0.3s ease-in-out;
}

.sidebar.open{
    right: 0;
}

.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li a{
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
    text-decoration: none;
}

.modal-left-content h4{
    margin-bottom: 12px;
    font-size: 22px;
    font-weight: 600;
    color: #29166f;
}

.modal-left-content ul{
    margin-bottom: 20px;
}

.modal-left-content ul li{
    font-size: 20px;
    font-weight: 500;
    color: #000;
    padding-bottom:10px;
}

.modal-left-content ul li img{
    width: 16px;
    margin-right: 10px;
}

.sign-up-modal{
    background: conic-gradient(from 210deg at 134% -200%, #f17d0838 15%, hsla(232, 57.7%, 41.78%, 0.26) 66%);
}

@media (min-width:992px) {
    .border-left{
        border-left: 1px solid #666;
    }
}

.img-blurred{
    filter: blur(2px);
}

.form-logo{
    width: 78px;
    margin:0px auto 16px;
}

.modal-form h3{
    font-size: 32px;
    color: #000;
    margin-bottom: 20px;
}

.modal-form ul li{
    display: inline-block;
    padding: 0px 10px;
}

.modal-form ul li a{
    display: inline-block;
}

.modal-form ul li a img{
    width: 40px;
}

.submit-btn{
    height: 40px;
    padding: 10px 30px;
    font-size: 14px;
    background: linear-gradient(86deg, #e87b0d 0%, #f7bd01 99.48%);
    color: #000;
}

.modal-form .form-control{
    box-shadow: none !important;
    border: 1px solid #9a9797;
}

.divider{
    position: relative;
    margin: 20px 0px;
}

.divider span{
    color: #9a9797;
    padding: 2px 10px;
    background-color: rgb(200 204 232);
    display: inline-block;
    position: relative
}

.divider::before{
    position: absolute;
    top: 50%;
    left: 0;
    width:100%;
    height:1px;
    content:'';
    background-color: #9a9797;
}

.signup-form{
    border: none;
    border-radius: 14px;
    overflow: hidden;
}

.blog {
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 25px;
    gap: 5px;
    width: 100%;
}

.blog_hadding h1 {
    color: #000;
    font-family: Barlow;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 133.8%;
}

.blogger_img img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: 50% top;
}

.date_text {
    color: #2734a8;
    font-family: Barlow;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.date{
    font-size: 14px;
    font-weight: 500;
}

.blog_background img{
    width: 100%;
}

.blog_text p {
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 33.8px;
}

.recent_posts {
    border-radius: 3px;
    background: linear-gradient(42deg, #e87b0d 22.87%, #f7bd01 96%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 15px;
}

.recent_post_heading h3 {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
}

.recent_post_text p {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 23.8px;
    margin: 10px 0px 10px;
}

.line {
    height: 1px;
    background: #fff;
}

.pagination_blue {
    width: max-content;
    border-radius: 6px;
    height: 40px;
    min-width: 60px;
    padding: 14px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: #29166f 1px solid;
}

.darkactive {
    background-color: #29166f;
}

.pag_text {
    color: #fff;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.text_darkblue {
    color: #29166f;
}

.gap-9 {
    gap: 10px;
}

