@media (max-width:992px) {
    .pageContent {
        overflow-y: auto;
        min-height: 100%;
        height: 100%;
    }

    .h-screen {
        height: 100%;
    }
}

@media (max-width:776px) {
    .owl-nav {
        display: none;
    }


}