img {
    max-width: 100%;
    height: auto;
}

a {
   
    text-decoration: underline;
}




/* banner secion css start */
.zoomImageBox {
    text-align: center;
}

.zoomImageBox>.xzoom {
    box-shadow: none;
    border: 1px solid #e4e4e4;
}

.xzoom {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.xzoom-thumbs {
    margin-top: 10px;
}

.xzoom-thumbs {
    text-align: center;
    margin-bottom: 10px;
}

.xzoom-thumbs a {
    width: 90px;
    height: 70px;
    display: inline-block;
}


.productDetailPage .h1,
.productDetailPage h1 {
    font-size: 30px;
    font-family: "Roboto Condensed", sans-serif;
}

.productDetailPage .h3,
.productDetailPage .h6,
.productDetailPage h3,
.productDetailPage h6 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    margin-top: 25px;
}

#headingOne.accordion-header {
    border-bottom: 1px solid black;
}

h4 .accordion-button {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px !important;
    /* margin-top: 25px ; */
}

.productDetailPage p {
    font-size: 16px;
}

.productDetailPage .colorBoxes {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.productDetailPage .colorBoxes .box {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.productDetailPage ul {
    list-style-position: inside;
    list-style: none;
    padding-left: 10px;
}

.productDetailPage ul li {
    padding-left: 23px;
    position: relative;
    line-height: 20px;
    margin: 8px 0;
    
}

.productDetailPage ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    width: 8px;
    height: 8px;
    background-color: #000;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}

.requestAQuote a {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
    font-family: "Roboto Condensed", sans-serif;
}

.btn-check:focus+.btn-primary,
.btn-primary {
   
    border-color: #000;
}


.requestAQuote a {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
    font-family: "Roboto Condensed", sans-serif;
}

.btn-group-lg>.btn,
.btn-lg,
.woocommerce-info .btn-group-lg>a.button,
.woocommerce-notices-wrapper .woocommerce-message .btn-group-lg>a.button,
.wpcf7 .btn-group-lg>input[type=submit] {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem;
}

/* zoom  css */
.xzoom_part {
    padding-top: 50px;
}

.xzoom_container {
    margin: 0px 10px;
}

.xzoom-thumbs {
    margin: 10px 0;
}

.xzoom {
    height: 460px;
    width: 100%;
    box-shadow: 1px 4px 8px #aaa;
}

.xzoom-gallery {
    border: 1px solid #aaa;
}

.xzoom-gallery:hover {
    border: 1px solid #378bbf;
}

.xzoom-lens {
    cursor: zoom-in;
}

.owl1 .owl-nav button.owl-next,
.owl1 .owl-nav button.owl-prev {
    position: absolute;
    top: 28%;
    font-size: 24px !important;
    width: 21px;
   
    line-height: 1 !important;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        margin-top: -4px;
    }
}

.owl1 .owl-nav button.owl-prev {
    left: 0px;
}

.owl1 .owl-nav button.owl-next {
    right: 0px;
}

.owl1 .owl-dots,
.owl2 .owl-dots {
    display: none;
}

.owl1 .owl-item {
    width: 90px !important;
    height: 70px !important;
}

.owl1 .owl-stage-outer {
    margin: 0px 50px;
}

/* banner scetion css end */

/* product list secion css start */
.card {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.otherProducts .catProduct {
    min-height: 540px;
}

.catProduct {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 640px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.otherProducts .catProduct .img {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.catProduct .img {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.otherProducts .catProduct a {
    font-size: 12px;
}

.otherProducts .catProduct .h3,
.otherProducts .catProduct h3 {
    font-size: 20px;
}

.catProduct .h3,
.catProduct h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 0;
}

.catProduct .avlColors {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.otherProducts .catProduct p {
    font-size: 12px;
}

.catProduct p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
}

.catProduct .colorBoxes {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10px;
}

.catProduct .colorBoxes .box {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.catProduct a.linkBtn {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    
    font-family: "Roboto Condensed", sans-serif;
    /* color: #fff; */
    margin: -10px;
    margin-top: 5px;
    box-sizing: content-box;
    font-weight: 700;
    font-size: 16px;
}

.owl2 .owl-nav button.owl-next,
.owl2 .owl-nav button.owl-prev {
    position: absolute;
    top: 39%;
    font-size: 50px !important;
    width: 35px;
    /* background: #0000001c !important;
    color: #fcb118 !important; */
    line-height: 1 !important;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        margin-top: -12px;
    }
}

.owl2 .owl-nav button.owl-prev {
    left: -50px;
}

.owl2 .owl-nav button.owl-next {
    right: -50px;
}

.owl-theme .owl-nav [class*="owl-"] {
    color: #fff;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #d6d6d6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    padding-top: 20px;
}

.owl-theme .owl-dots,
.owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}



.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #d6d6d6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 0.2s ease;
    border-radius: 30px;
}

.videoPreview {
    min-width: 300px;
    max-width: 500px;
    min-height: 400px;
    height: 100%;
}

.position-t-sticky {
    position: sticky;
    top: 10px;
}

.mrpprice {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: line-through;
   
}

.offerprice {
    font-size: 1.8rem;
    font-weight: 600;
}

.newHeader h2 {
    border-bottom: 1px solid #000;
}

.icon-position {
    top: 28px;
    left: 41px;
    z-index: 99;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* background-color: #000; */
    /* color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

/* product list secion css end */

/* header css start */

.headerIcon i {

    font-size: 20px;
}

.top-80 {
    top: 80px;
}

.top-header-shadow {
    height: 80px;
}

.object-contain {
    object-fit: contain;
}

.profileBtn {
    border: 1px solid;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 0px;
    overflow: hidden;
}


.dropdown-toggle::after {
    display: none;
}

.dropdown-text {
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
}

.dropdown-item {
    padding: 0px;
    border: 0px;
    border: none;
}

.dropdown-menu {
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 4px;
    overflow: hidden;
}

.accordion-button:not(.collapsed) {
    background-color: white;
    box-shadow: none;
}

.accordion-button::after {

    background-size: 0px;
    font-size: 15px;
    content: "\f107";
    font-family: FontAwesome;
    /* color: #2A176F; */
    margin-top: 5px;
}

.accordion-button:not(.collapsed)::after {
    transform: none !important;
}


.accordion-item {
    border: 0px !important;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button {
    padding: 8px;
}

.accordion-inner-link {

    text-decoration: none;
    padding: 4px 8px;
}

.accordion-inner-link i {
    font-size: 14px;

}

.accordion-inner-link span {
    font-size: 13px;

}

.dropDown-innerdiv {
    height: 36px;
    padding: 8px;

    span {
        font-size: 13px;

    }
}


.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
    border-radius: 0px;
}

.searchInput {
    border-radius: 6px;
    border: 1px solid #2A176F;
    width: 100%;
    padding: 6px;
}

.position-lg-sticky {
    position: sticky;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.brandsImage {
    img {
        object-fit: contain;
    }
}

.circleLogo {
    width: 75px;
    height: 75px;
    cursor: pointer;
}

.rectangleLogo {
    width: 120px;
    height: 75px;
    cursor: pointer;
}

/* header css end */


/* footer css start */

.text-dark .fa-youtube {
    color: #f00;
}

.text-dark .fa-facebook {
    color: #1877f2
}

.text-dark .fa-twitter {
    color: #1d9bf0
}

.followus {
    font-weight: 400;
}

.font-24 {
    font-size: 24px;
}

.footer_link {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    text-wrap: nowrap;
    font-weight: 500;
}

/* footer css end */



/* swiper */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pageContent {
    overflow-y: scroll;
    min-height: 100%;
    height: 100%;
}

.h-screen {
    height: 100vh;
}

.pageContent::-webkit-scrollbar {
    width: 5px;
}

.pageContent::-webkit-scrollbar-track {
    background: white;
}

.pageContent::-webkit-scrollbar-thumb {
    background: white;
}

.pageContent::-webkit-scrollbar-thumb:hover {
    background: white;
}