.bg-darkBlue {
    background: rgb(6 28 45);
}

.bg-yellow {
    background-color: #fecc32;
}

.text-primary {
    color: #fecc32 !important;
}

.text-dark {
    color: black;
}

.text-white{
    color: white !important;
}