.bg-darkBlue {
    background: rgb(6 28 45);
}

.bg-yellow {
    background-color: #fecc32;
}

.text-primary {
    color: #fecc32 !important;
}

.text-secondary {
    color: #696969 !important;
}

.text-dark {
    color: black !important;
}

.text-white {
    color: white !important;
}

.border-primary {
    border-color: #fecc32 !important;
}
.profileBtn{
    border-color: #fecc32 !important;
}

.text-Darkblue {
    color: #2A176F;
}

.bg-white {
    background-color: white !important;
}

.text-darkGrey {
    color: #3b3b3b;
}

.text-lightGray {
    color: #696969;
}

.text-dark {
    color: black !important;
}

.text-dark .fa-youtube {
    color: #f00;
}

.text-dark .fa-facebook {
    color: #1877f2
}

.text-dark .fa-twitter {
    color: #1d9bf0
}

.text-footer {
    color: #5f6368;
}

.text-black {
    color: black !important;
}

.border-color {
    border-color: #2A176F;
}