@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


body {
    font-family: "Barlow";
    font-weight: 400;
    font-style: normal;
    min-width: 100%;
}

.left-side-box {
    width: 50%;
    z-index: 10;
    height: 100%;
    min-height: 100vh;
    position: relative;
}

.left-side-box::after {
    content: '';
    position: absolute;
    height: 100%;
    right: -25%;
    top: 0px;
    background: rgb(6 28 45);
    width: 402px;
    transform: skewX(19deg);
}

.left-side-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: -26.6%;
    background-color: #fecc32;
    transform: skewX(20.3deg);
    width: 25px;
    height: 100%;
    min-height: 100vh;
}

.iconShadow {
    filter: drop-shadow(0px 0px 2px #fecc32);
}



/* right side swiper css  start */


.right-side-box {
    height: 88vh;
    min-height: 88vh;
    position: absolute;
    right: 0px;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 100% !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* height: 100vh !important; */
}

.swiper-slide img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.swiper-pagination-bullets {
    top: 93% !important;
    left: 15% !important;
}

.swiper-pagination-bullet-active {
    background-color: #fecc32 !important;
}

.right-top-overlay {
    width: 367px;
    height: 119vh;
    transform: rotate(158deg);
    top: -22%;
    z-index: 100;
    right: -32%;
    background-color: hsl(45.62deg 96.8% 75.49% / 37%);
}

.right-top-overlay2 {
    width: 367px;
    height: 119vh;
    transform: rotate(158deg);
    top: -22%;
    z-index: 100;
    right: -25%;
    background-color: hsl(45.62deg 96.8% 75.49% / 37%);
}

/* right side swiper css  end */




/* left-side design start*/
.company-logo {
    width: 150px;
    max-height: 75px;
}

.right-top-strip {
    position: absolute;
    top: 0px;
    left: 115px;
    height: 200px;
    transform: skewX(20deg);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 14px;
    width: 20px;
    z-index: 20;
}

.left-bottom-strip1 {
    position: absolute;
    bottom: 0px;
    right: -31%;
    height: 281px;
    transform: skewX(20deg);
    border-top-right-radius: 20px;
    border-top-left-radius: 30px;
    width: 17px;
    z-index: 999;
}

.left-bottom-strip2 {
    position: absolute;
    bottom: 0px;
    right: -25%;
    height: 210px;
    transform: skewX(20deg);
    border-top-right-radius: 20px;
    border-top-left-radius: 30px;
    width: 17px;
    z-index: 999;
}


.username {
    font-size: 3rem;
    text-shadow: 2px 1px 7px rgba(0, 0, 0, 0.764) !important;
    line-height: 1;
    text-transform: uppercase;
    word-spacing: 2px;
    font-weight: 700;

}

.user-post {
    font-size: 1.5rem;
    text-shadow: 2px 1px 7px rgba(0, 0, 0, 0.764) !important;
    line-height: 1;
    word-spacing: 2px;
    font-weight: 600;
}

.z-100 {
    z-index: 100;
}

.heading {
    font-size: 2rem;

    text-transform: uppercase;
    word-spacing: 2px;
    font-weight: 600;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.text-shadow-white {
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.text-black-shadow {
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
        1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.subtext {
    font-size: 1rem;
    font-weight: 400;
    word-spacing: 4px;
}

.mobileuserbox {
    z-index: 99;
    width: 66% !important;
    margin: auto;
    left: 18%;
}

.hashtag {
    font-size: 1rem;
    font-weight: 400;
    word-spacing: 2px;

}

.hastaglist {
    list-style-type: none;
}

.h2 {
    font-size: 1.2rem;
    margin-bottom: 8px;
    font-weight: 500;
    text-transform: uppercase;
}


.brands-icon {
    font-size: 36px;
    text-shadow: 2px 1px 7px rgba(0, 0, 0, 0.764) !important;
}

/* left-side design end */



/* header common css */
.blinkit {
    bottom: 5%;
    right: 5%;
    z-index: 99;
}

.center-align {
    display: flex;
    align-items: center;
    height: 100%;
}